/**
* Supporter View Sass
*
* Ghostery Browser Extension
* https://www.ghostery.com/
*
* Copyright 2018 Ghostery, Inc. All rights reserved.
*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0
*/

// Supporter View
.SupporterView {
	margin: 40px 0 80px;
	overflow-x: hidden;
}
.SupporterView--addPaddingTop {
	padding-top: 40px;
}
.SupporterView--addPaddingBottom {
	padding-bottom: 40px;
}
.SupporterView--addSideMargin {
	margin-left: 35px;
	margin-right: 35px;
}
.SupporterView--rowDarken {
	background-color: #f7f7f7;
}
.SupporterView__button {
	min-width: 180px;
	margin-bottom: 0;
	line-height: 20.2px;
	border-top: none;
	border-bottom: none;
	border-right-color: #9ecc42;
	border-left-color: #429321;
	background: linear-gradient(to right, #429321,  #9ecc42);
}
.SupporterView__button.disabled,
.SupporterView__button.disabled:hover {
	background: #154700;
	border: 1px solid #154700;
	line-height: 18.2px;
}
.SupporterView__headingImage {
	height: 195px;
	margin-right: 30px;
	margin-bottom: 30px;
	background-image: url('/app/images/hub/supporter/supporter-logo.svg');
	background-repeat: no-repeat;
	background-position: center center;
}
.SupporterView__headingTitle {
	font-size: 24px;
	font-weight: 700;
	line-height: 38px;
	color: #4a4a4a;
}
.SupporterView__headingDescription {
	font-size: 14px;
	line-height: 38px;
	color: #4a4a4a;
	margin-bottom: 20px;
}
.SupporterView__headingCost {
	font-size: 14px;
	color: #9b9b9b;
}
.SupporterView__headingCost sup {
	padding: 0 2px;
	font-size: 30px;
	font-weight: 500;
	color: #4a4a4a;
}
.SupporterView__headingCost span {
	padding-right: 11px;
	font-size: 64px;
	font-weight: 500;
	color: #4a4a4a;
}
.SupporterView__perk {
	padding: 30px;
}
.SupporterView__perkTitle {
	font-size: 14px;
	font-weight: 700;
	line-height: 38px;
	margin-bottom: 15px;
	color: #4a4a4a;
}
.SupporterView__perkDescription {
	font-size: 14px;
	line-height: 30px;
	color: #4a4a4a;
}
.SupporterView__perkIcon {
	height: 80px;
	width: 80px;
	margin: 0 auto 15px;
	background-position: center center;
	background-repeat: no-repeat;
}
.SupporterView__perkIcon.themes {
	background-image: buildPerkThemeIcon(#a8ca59, #0a0a0a);
}
.SupporterView__perkIcon.support {
	background-image: buildPerkSupportIcon(#a8ca59, #0a0a0a);
}
.SupporterView__perkIcon.more {
	background-image: buildPerkMoreIcon(#a8ca59, #0a0a0a);
}
.SupporterView__feature {
	padding: 0 40px;
}
.SupporterView__featureImage.theme {
	max-width: 420px;
	margin-top: -20px;
}
.SupporterView__featureImage.support{
	max-width: 275px;
}
.SupporterView__featureImage.more {
	max-width: 375px;
}
.SupporterView__manifestoContainer {
	margin: 80px 0 0;
	padding-top: 40px;
	background: linear-gradient(to bottom left, #ecd868, #d4af37);
}
.SupporterView__manifestoBackground {
	padding-bottom: 20px;
	background-image: url('/app/images/hub/supporter/manifesto-background.svg');
	background-size: 100%;
}
.SupporterView__manifestoText {
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	color: #ffffff;
	padding: 50px 0;
}
.SupporterView__bar {
	height: 1px;
	background-color: #9b9b9b;
}
@media only screen and (max-width: 960px) {
	.SupporterView__perkIcon {
		margin-bottom: 10px;
	}
	.SupporterView__perkTitle {
		margin-bottom: 10px;
	}
	.SupporterView__manifestoContainer {
		margin-top: 60px;
	}
	.SupporterView__manifestoBackground {
		padding-bottom: 10px;
	}
	.SupporterView__manifestoText {
		margin-top: -20px;
		font-size: 20px;
		line-height: 30px;
		padding: 50px 60px;
	}
	.SupporterView__featureImage.theme {
		margin: 30px -20px 15px 0;
		max-width: 350px;
	}
	.SupporterView__featureImage.support {
		margin: 25px 0 -10px -33px;
		max-width: 240px;
	}
	.SupporterView__feature {
		text-align: center;
	}
	.SupporterView__headingDescription {
		line-height: 30px;
		margin-top: 4px;
	}
	.SupporterView__buttonWithCost {
		justify-content: space-between;
		max-width: 382px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 24px;
		margin-bottom: 0px;
	}
	.SupporterView__button {
		margin-left: 0px;
		margin-right: 0px;
	}
	.SupporterView__headingCost {
		margin-left: 0px;
		margin-right: 0px;
	}
}
