/**
 * Toast Message Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Toast Message
.ToastMessage {
	position: relative;
	top: 30px;
	height: 0;
	&.dawn-hub {
		z-index: 1;
		max-width: 700px;
		margin: auto;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 500;
		.alert {
			background-color: #f8e6e6;
			.callout-text {color: #9f4948;}
		}
		.success {
			background-color: #dff0d8;
			.callout-text {color: #417505;}
		}
		.ToastMessage__close {
			background-image: buildIconX(#000000);
		}
	}
}

.ToastMessage_classIcon {
	margin-right: 20px;
}

.ToastMessage__close {
	height: 13px;
	width: 13px;
	margin-left: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 13px 13px;
	background-image: buildIconX(#ffffff);
}
