/**
 * Insights Promo Modal Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Insights Promo Modal
$standard-font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$condensed-font-family: Roboto Condensed, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

.InsightsModal__content {
	background-color: $alabaster;
	position: relative;
	width: 518px;
	min-height: 450px;
	color: $tundora;
	border: 2px solid $dark-cyan-blue;
	justify-content: space-between;
	z-index: 10;
}

.InsightsModal__container {
	min-height: 450px;
	justify-content: space-between;
}

.InsightsModal__image {
	height: 94px;
	width: 177px;
	margin-top: 20px;
	background-image: url('/app/images/panel/insights-ribbon.svg');
}

.InsightsModal__header {
	font-family: $standard-font-family;
	height: 27.1px;
	font-size: 20px;
	font-weight: 900;
	line-height: 1.35;
	color: $tundora;
	margin-bottom: 10px;
}

.InsightsModal__description {
	width: 400px;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 10px;
	font-family: $standard-font-family;
}

.InsightsModal__features {
	&:nth-child(odd) {
		margin-left: 25px;
		width: 50%;
	}
	&:nth-child(even) {
		margin-left: 15px;
		margin-right: 25px;
		width: 50%;
	}
}

.InsightsModal__feature-text {
	font-family: $standard-font-family;
	font-size: 14px;
	color: $medium-gray;
	padding-bottom: 5px;
	line-height: 16px;
}

.InsightsModal__checked-circle-icon {
	flex: none;
	height: 18px;
	width: 18px;
	margin-right: 8px;
	background-image: url('/app/images/panel/checked-circle-icon.svg');
	align-self: flex-start;
}

.InsightsModal__call-to-action-container {
	height: 95px;
	width: 99%;
	margin-top: 10px;
	background-color: $mystic;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.InsightsModal__call-to-action {
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 0px 50px 0px; // more localization-proof than hardcoding width
	height: 36px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	background-image: linear-gradient(101deg, #070e18, #1678a0);
	font-size: 14px;
	font-family: $condensed-font-family;
	letter-spacing: .5px;
	color: $white;
	line-height: 36px;
	&:hover {
		background-image: linear-gradient(101deg, #000004, 	#02648C);
		color: $white;
	}
}

.InsightsModal__link {
	font-family: $standard-font-family;
	font-size: 13px;
	color: $tundora;
	&:hover {
		cursor: pointer;
		color: #090909;
	}
}

.InsightsModal__other-options-container {
	margin-top: 10px;
	padding: 0 10.5px;
	text-decoration: underline;
	color: $tundora;
}
