/**
 * Ghostery Hub Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

html, body, #root {
	font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
}

<<<<<<< HEAD
// Foundation Overrides
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
=======
.App {
	height: 100%;
	width: 100%;
	display: flex;
	overflow-y: scroll;
}

.App__mainContent {
	height: 100%;
	flex-grow: 1;
>>>>>>> sidebar height - remove tmp scss
}

// Helper Classes
.clickable { cursor: pointer; }
.full-height { height: 100%; }
.full-width { width: 100%; }
.display-inline { display: inline-block; }

@import 'settings_hub';
@import './partials/_hub_mixins';
@import './partials/_hub_svgs';


@import '../hub/Views/HomeView/HomeView.scss';
@import '../hub/Views/SideNavigationView/SideNavigationView.scss';
@import '../hub/Views/SetupView/SetupView.scss';
@import '../hub/Views/SetupViews/SetupHeader/SetupHeader.scss';
@import '../hub/Views/SetupViews/SetupBlockingView/SetupBlockingView.scss';
@import '../hub/Views/SetupViews/SetupAntiSuiteView/SetupAntiSuiteView.scss';
@import '../hub/Views/SetupViews/SetupHumanWebView/SetupHumanWebView.scss';
@import '../hub/Views/SetupViews/SetupDoneView/SetupDoneView.scss';

@import '../hub/Views/TutorialView/TutorialView.scss';

// Imports from ../shared-components directory
@import '../shared-components/Modal/Modal.scss';
@import '../shared-components/SteppedNavigation/SteppedNavigation.scss';
@import '../shared-components/ToggleCheckbox/ToggleCheckbox.scss';
@import '../shared-components/ToggleSwitch/ToggleSwitch.scss';
