/**
 * Ghostery Hub Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

html, body, #root {
	font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
}

// Helper Classes
.clickable { cursor: pointer; }
.full-height { height: 100%; }
.full-width { width: 100%; }
.display-inline { display: inline-block; }

@import './partials/_hub_mixins';
@import './partials/_hub_svgs';
@import './partials/_hub_side_navigation';
@import './partials/_hub_other_partials'; // ToDo: Remove this file

// Imports from ../hub directory for the Custom Setup Workflow
@import '../hub/Views/SetupView/SetupView.scss';
@import '../hub/Views/SetupViews/SetupHeader/SetupHeader.scss';
@import '../hub/Views/SetupViews/SetupBlockingView/SetupBlockingView.scss';
@import '../hub/Views/SetupViews/SetupAntiSuiteView/SetupAntiSuiteView.scss';
@import '../hub/Views/SetupViews/SetupHumanWebView/SetupHumanWebView.scss';
@import '../hub/Views/SetupViews/SetupDoneView/SetupDoneView.scss';

// Imports from ../shared-components directory
@import '../shared-components/Modal/Modal.scss';
@import '../shared-components/SteppedNavigation/SteppedNavigation.scss';
@import '../shared-components/ToggleCheckbox/ToggleCheckbox.scss';
@import '../shared-components/ToggleSwitch/ToggleSwitch.scss';
