/**
 * Ghostery-Browser-Specific Hub Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2020 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Import Global Partials
@import './partials/colors';

html, body, #root {
	height: 100%;
	width: 100%;
	margin: 0;
}

.App {
	position: fixed;
	z-index: 0;
}
.App__mainContent {
	overflow-y: auto;
	// Very small windows/phone screens in Firefox slightly overflows on the x-axis
	overflow-x: hidden;
}
@media only screen and (max-width: 740px)  {
	.App__mainContent {
		margin-left: 54px;
	}
	.android-relative {position: relative;}
}

// Foundation Overrides
.button {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	&.primary {
		&:not(.hollow):hover {
			background-color: $dark-ghosty-blue;
		}
		&.hollow:hover, &.hollow:focus {
			border-color: $dark-ghosty-blue;
			color: $dark-ghosty-blue;
		}
	}
}

// Helper Classes
.clickable { cursor: pointer; }
.full-height { height: 100%; }
.full-width { width: 100%; }
.display-inline { display: inline-block; }
.flex-shrink-none { flex-shrink: 0; }

@import 'settings_hub'; // Import Foundation
@import './partials/_hub_mixins';
@import './partials/_hub_svgs';
@import './partials/_shared_components_svgs';
@import './partials/_fonts';
@import './partials/_loader';
@import './partials/radio_button';

// Imports from ../ghostery-browser-hub directory
@import '../ghostery-browser-hub/Views/OnboardingViews/Step0_WelcomeView/WelcomeView.scss';
@import '../ghostery-browser-hub/Views/OnboardingViews/StepProgressbar/StepProgressbar.scss';
@import '../ghostery-browser-hub/Views/OnboardingViews/Step1_CreateAccountView/Step1_CreateAccountView.scss';
@import '../ghostery-browser-hub/Views/OnboardingViews/Step1_CreateAccountForm/Step1_CreateAccountForm.scss';
@import '../ghostery-browser-hub/Views/OnboardingViews/Step1_LogInForm/Step1_LogInForm.scss';
@import '../ghostery-browser-hub/Views/OnboardingViews/Step2_BlockSettingsView/BlockSettingsView.scss';
@import '../ghostery-browser-hub/Views/OnboardingViews/Step4_ChoosePlanView/ChoosePlanView.scss';
@import '../ghostery-browser-hub/Views/OnboardingViews/Step5_SuccessView/SuccessView.scss';

// Imports from ../shared-components directory
@import '../shared-components/ToastMessage/ToastMessage.scss';
@import '../shared-components/ToggleCheckbox/ToggleCheckbox.scss';
@import '../shared-components/Tooltip/Tooltip.scss';
