// Colors
$green_lightest:					#667b57;
$green_light: 						#326C45;
$green:								#305402;
$green_dark: 						#173700;

$white:								#FFF;
$white_alabaster:		        	#F7F7F7;

$grey_cyan:		            		#CBD4D7;
$grey_dull: 						#C8C7C2;
$grey_light_cyan:		        	#A9B8BC;
$grey_dark_cyan:             		#819D9C;
$grey_dark_blue:           			#70888F;
$grey_cyan_desaturated: 			#5A7479;
$grey_lightest:						#979797;
$grey_lighter:						#65605c;
$grey_light:						#636262;
$grey: 								#4A4A4A;
$grey_dark: 						#333333;

$blue_dark: 						#2e3b80;
$blue_light:						#2092bf;

$red:								#963939;

// Theme variables
$background: 						url('/app/images/panel/leaf-theme.png');

$top_bar:							$green_dark;

$opacityOverlay: 					rgba(231, 236, 238, 0.81);

$summary_text:						$grey;
$caption:             				$white_alabaster;
$title_text:						$grey_cyan;

$button_border:						1px solid $grey_lightest;

$enabled_feature:					$blue_dark;
$bright_enabled_feature:			$blue_light;
$paled_enabled_feature:				$grey_dark_cyan;

$disabled_feature:             		$grey_dark_blue;
$bright_disabled_feature:			$blue_light;
$paled_disabled_feature:			$grey_light_cyan;

$disabled_cliqz_feature:			$grey_lighter;
$inactive_cliqz_feature: 			$grey_dull;

$tab_inactive:      				rgba(207, 210, 218, 0.61);
	$tab_inactive_text:      		$white;
$tab_active: 						$white;
$tab_active_text: 					$grey_light;

$hist_stats_tab_active: 			$green;
$hist_stats_tab_inactive: 			$green_lightest;
$hist_stats_hover_border: 			$green_dark;
$hist_stats_background:         	$green;

$tracker_list: 						$white;
$tracker_list_blocked_text:			$red;
$tracker_list_text: 				$grey_dark;
$tracker_list_pale_text: 			$grey;
$tracker_list_cliqz_icon_stroke:	$blue_dark;
$tracker_list_protected_color:		$blue_dark;
$tracker_list_allowed_color:		$green_light;
$tracker_list_restricted_color:		$red;
$divider: 							$grey_cyan_desaturated;

$trackers_blocked: 					$red;
$elements_adjusted: 				$blue_dark;
$page_load:		 					$green_light;


@import './theme/theme.scss';
