// Colors
$green_lighest: 					#b8e986;
$green_light:						#456431;
$green: 							#2C5114;
$green_dark: 						#172A0B;
$green_darkest:		 		       	#313930;

$cyan_very_light: 		            #BDC8CB;
$cyan_light:		    	        #A9B8BC;
$cyan_grey:		     		       	#CBD4D7;
$cyan_dark_grey:  		           	#819D9C;
$cyan_dark_desaturated: 			#5A7479;
$cyan_dark:              	     	#124559;

$grey_dull: 						#C8C7C2;

$white:								#FFF;
$white_egg:                   	  	#F7FAEF;
$white_alabaster:		      	  	#F7F7F7;

$blue_light:                	    #87F0FB;
$blue_dark_grayish:          	   	#70888F;

$red:								#ff7e74;

// Theme variables
$background: 						url('/app/images/panel/palm-theme.png');

$top_bar:							$green;

$opacityOverlay: 					rgba(74, 74, 74, .5);;

$summary_text:						$white;
$caption:             				$white_alabaster;
$title_text:						$cyan_grey;

$enabled_feature:					$blue_light;
$bright_enabled_feature:			$white_egg;
$paled_enabled_feature:				$cyan_dark_grey;

$disabled_feature:            	 	$blue_dark_grayish;
$bright_disabled_feature:			$cyan_very_light;
$paled_disabled_feature:			$cyan_light;

$disabled_cliqz_feature:			$white;
$inactive_cliqz_feature: 			$grey_dull;

$tab_inactive:      				$green_light;
$tab_active: 						$green_darkest;
$tab_active_text: 					$white;

$hist_stats_tab_active: 			$green_dark;
$hist_stats_tab_inactive: 			$green_light;
$hist_stats_hover_border: 			$green_dark;
$hist_stats_background:         	$green_dark;

$tracker_list: 						$green_dark;
$tracker_list_blocked_text: 		$red;
$tracker_list_cliqz_icon_stroke:	$blue_light;
$tracker_list_cliqz_icon-fill:		$green_dark;
$tracker_list_protected_color:		$blue_light;
$tracker_list_allowed_color:		$green_lighest;
$tracker_list_restricted_color:		$red;
$divider: 							$cyan_dark_desaturated;

$trackers_blocked:					$red;
$elements_adjusted:					$blue_light;


@import './theme/theme.scss';
