/**
 * Android Panel
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2020 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Android Specific Styles
@import './android/_variables';
@import './android/_mixins';
@import './android/_normalize'; // ToDo: Update

// Panel Shared Styles
@import './partials/_svgs';

// Android Specific Component Styles
@import './android/_account';
@import './android/_settings';
@import './android/_tabs';
@import './android/_overview_tab';
@import './android/_blocking_tab';
@import './android/_dots_menu';

// Panel Shared Component Styles
@import './partials/_settings';
@import './partials/_radio_button';
@import './partials/_not_scanned';
@import './partials/_donut_graph';
@import './partials/_ghostery_feature';
@import './partials/_pause_button';
@import './partials/_cliqz_feature';

// Import shared helpers
@import 'shared_helper_classes';
