/**
 * Ghostery Sass Importer
 *
 * Select the SASS partials to be compiled for this project. SASS files
 * are compiled and included in the order they are listed.
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Import Global Partials
@import "settings"; //includes _colors.scss
@import './partials/_fonts';
@import './partials/_placeholders';
@import './partials/_mixins';

// Import shared helpers
@import 'shared_helper_classes';

html body {
	margin: 0px;
	font-size: 75%;
	overflow: hidden;
}
*:focus {outline: none;}

// Function helper with color variables
@function url-friendly-colour($colour) {
	@return '%23' + str-slice('#{$colour}', 2, -1)
}

// Foundation Helpers
.collapse-left {padding-left: 0;}
.collapse-right {padding-right: 0;}
.relative {position: relative;}

// Ghostery Panel
#ghostery-app {
	background-color: white;
	height: 516px;
	width: 580px;
	margin: 0px;
	padding: 0px;
}

// Partial View SASS files
@import './partials/_svgs';
@import './partials/_shared_components_svgs';
@import './partials/_header';
@import './partials/_callout';
@import './partials/_summary';
@import './partials/_upgrade_banner';
@import './partials/_subscriber_badge';
@import './partials/_detail';
@import './partials/_blocking';
@import './partials/_rewards';
@import './partials/_settings';
@import './partials/_help';
@import './partials/_account';
@import './partials/_drawer';
@import './partials/_toggle_slider';
@import './partials/_pause_button';
@import './partials/_donut_graph';
@import './partials/_ghostery_feature';
@import './partials/_cliqz_feature';
@import './partials/_tooltip';
@import './partials/_not_scanned';
@import './partials/_subscribe';
@import './partials/_stats';
@import './partials/_stats_graph';
@import './partials/_modal_exit_button';

// Imports from ../shared-components directory
@import '../shared-components/Modal/Modal.scss';
@import '../shared-components/PremiumPromoModalContent/PremiumPromoModalContent.scss';
@import '../shared-components/PlusPromoModalContent/PlusPromoModalContent.scss';
@import '../shared-components/InsightsPromoModalContent/InsightsPromoModalContent.scss';
