//Import Global Partials
@import "settings"; //includes _colors.scss
@import './partials/_tooltip';

#ghostery-rewards-app, #ghostery-iframe-container {
	z-index: 2147483647 !important;
	font-family: $body-font-family!important;
	position: fixed;
	top: 30px;
	right: 30px;
}

#ghostery-shadow-root {
	opacity: 0;
	&.resolved {
		opacity: 1;
	}
}

#ghostery-iframe-container {
	border: none;
	&.hot-dog {
		height: 59px;
		width: 266px;
	}

	&.offer-card {
		width: 268px;
		height: 531px;
	}
}

.ghostery-rewards-component {
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.hide {
		visibility: hidden;
	}

	a {
		text-decoration: none;
	}

	.flex-grow {
		flex: 1;
	}

	.hot-dog-container {
		border-radius: 25px;
		background-color: $dark-purple;
		position: relative;
		display: flex;
		height: 50px;
		width: 265px;
		opacity: 1;
		white-space: nowrap;
		background-repeat: no-repeat;
		background-position: left 22px center;
		border-bottom: 0px;
		cursor: pointer;
	}

	.ghostery-reward-text {
		line-height: 1.3;
		color: $white;
		font-size: 12px;
		margin-top: 16px;
		margin-left: 58px;
		transition: visibility 1s;
	}

	.hot-dog-close {
		width: 21px;
		height: 21px;
		border: 1px solid $dark-purple;
		background-color: $white;
		position: absolute;
		border-radius: 50%;
		right: 6px;
		top: -9px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 9px;
		cursor: pointer;
	}

	&.ghostery-right {
		right: 30px;
	}

	&:hover, &.show {
		.ghostery-reward-close {
			transition: visibility 1000ms;
			visibility: visible;
		}
		.ghostery-reward-text {
			transition: visibility 0s;
			visibility: visible;
		}
	}

	.ghostery-reward-card {
		color: $tundora;
		background-color: #f2f2f2;
		width: 265px;
		height: 520px;
		border: 1px solid #9b9b9b;
		border-radius: 4px;

		.reward-card-header {
			display: flex;
			height: 36px;
			width: 100%;

			.reward-card-close {
				cursor: pointer;
				align-self: center;
				margin-right: 8px;
				margin-left: auto;
				height: 10px;
				width: 10px;
				background-repeat: no-repeat;
			}

			.rewards-logo-beta {
				flex: 1;
				height: 13px;
				margin-left: 8px;
				align-self: center;
				background-repeat: no-repeat;
				background-size: auto 13px;
			}
		}

		.reward-content-img {
			height: 120px;
			margin-top: 8px;
			width: 247px;
			display: flex;
			align-items: center;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.reward-content {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			background-color: $white;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			width: 247px;
			height: 450px;
			border: 1px solid $dark-purple;
			border-radius: 4px;

			.reward-content-header {
				display: flex;
				flex-direction: row;
				height: 48px;
				width: 100%;
				justify-content: flex-end;
				align-items: center;

				.reward-company-logo {
					width: 94px;
					height: 37px;
					display: flex;
					align-items: center;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}

				.reward-settings-kebab {
					cursor: pointer;
					width: 20px;
					height: 37px;
					background-repeat: no-repeat;
					background-position: 6px;
				}

			}

			.reward-content-detail {
				display: flex;
				flex-direction: column;
				width: 195px;
				height: 131px;
				color: $tundora;

				.reward-benefit {
					margin-bottom: 12px;
					font-size: 34px;
					line-height: 26px;
				}

				.reward-headline {
					font-size: 16px;
					line-height: 16px;
				}

				.reward-description {
					margin-top: 14px;
					font-size: 13px;
					line-height:  15px;
				}

			}

			.reward-code {
				display: flex;
				width: 225px;
				height: 32px;
				border: 1px solid #dadada;
				border-radius: 5px;
				background-color: #f2f2f2;

				div {
					flex: 1;
					user-select: text;
					margin-left: 8px;
					align-self: center;
					font-size: 13px;
					font-weight: 500;
					border: 0px;
					background-color: transparent;
					.reward-code-input {
						opacity: 0;
						position: absolute;
						z-index: -1;
					}
				}

				a {
					text-align: right;
					align-self: center;
					margin-right: 8px;
					margin-left: auto;
					color: $dark-purple;
					font-size: 10px;
					font-weight: $global-weight-bold;
					cursor: pointer;
					text-transform: uppercase;
				}

			}

			.reward-content-footer {
				display: flex;
				width: 225px;
				height: 46px;
				font-size: 11px;
				span {
					margin-top: 15px;
					flex: 1;
				}
				.reward-terms {
					margin-top: 15px;
					color: $tundora;
				}
			}

			.reward-redeem {
				color: $white;
				background-color: $dark-purple;
				width: 100%;
				height: 41px;
				text-align: center;
				line-height: 41px;
				font-size: 14px;
				border: 0px;
				cursor: pointer;
			}
		}

		.reward-footer {
			display: flex;
			height: 32px;

			.reward-feedback {
				flex: 2;
				align-self: center;
				margin-left: 8px;

				.rewards-smiley {

				}

				.rewards-dd-arrow {

				}

				a {
					cursor: pointer;
					font-size: 12px;
					color: #6A7E90;
				}
			}

			.reward-ghosty {
				flex: 1;
				background-repeat: no-repeat;
				background-position: center right;
				height: 100%;
				align-self: flex-end;
				margin-right: 8px;
			}
		}
	}

	.rewards-popup-container {
		width: 100%;
		height: 100%;
		position: absolute;
		text-align: center;
		color: $white;
	}

	.rewards-settings-container {
		.rewards-settings {
			color: $tundora;
			position: absolute;
			margin-left: -195px;
			margin-top: -10px;
			height: 94px;
			width: 175px;
			background-color: $white;
			border: 1px solid #9b9b9b;
			border-radius: 4px;
			box-shadow: 0px 4px 10px grey;
			display: flex;
			flex-direction: column;
			text-align: left;

			a {
				color: $tundora;
			}

			.about, .settings, .delete, .disable {
				font-size: 12px;
				flex: 1;
				display: flex;
				align-items: center;
				margin-left: 10px;
				margin-right: 10px;
				font-weight: 500;
				cursor: pointer;
				user-select: none;
			}

			.about {
				align-items: flex-end;
			}

			.delete {
				align-items: flex-start;
			}
		}
	}

	.rewards-notification-container {
		.rewards-notification {
			margin-top: 17px;
			margin-left: auto;
			margin-right: auto;
			height: 161px;
			width: 208px;
			background-color: $dark-purple;
			border: 2px solid transparent;
			border-radius: 4px;
			display: flex;
			flex-direction: column;
			font-size: 13px;
			line-height: 2;

			&.first-prompt {
				background-color: $white;
				border: 2px solid $dark-purple;
				color: black;
			}

			.notification-text {
				margin: 0px 22px 0px 22px;
			}

			a {
				text-decoration: underline;
				cursor: pointer;
			}

			.close {
				cursor: pointer;
				background-repeat: no-repeat;
				height: 10px;
				width: 10px;
				align-self: flex-end;
				margin: 10px 10px 0px 0px;
			}

			.notification-buttons {
				display: flex;
				justify-content: center;
				flex-direction: row;
				div {
					&:nth-child(1) {
						margin-right:10px;
					}
					&:nth-child(2) {
						margin-left:10px;
					}
				}
			}
		}
	}

}

#ghostery-rewards-app.iframe-child {
	top: 9px;
	right: 1px;
}
