/**
 * Setup Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Fonts
@font-face {
	font-family: 'Roboto', sans-serif; // cyrillic, cyrillic-ext, greek, greek-ext, latin, latin-ext, vietnamese
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
	url('../fonts/roboto-all-charsets.woff2') format('woff2'),
		url('../fonts/roboto-all-charsets.woff') format('woff');
}

//Import Global Partials
@import "settings"; //includes _colors.scss
@import './partials/_placeholders';
@import './partials/_mixins';
@import './partials/_blocking';
@import './partials/_settings';
@import './partials/_toggle_slider';
@import './partials/_callout';

//Foundation Overrides
.row {
	max-width: rem-calc(1024);
}

// Reusable classes
.full-height {
	height: 100%;
}

.selectable {
	border: 2px solid transparent;
	border-radius: 5px;
	&:hover {
		border-color: $purple;
	}
	&.selected {
		border-color: #920094;
	}
}

.button.ghostery-button {
	margin: 0;
	&:not(.hollow) {
		background-color: #920094;
	}
	&.hollow {
		border-color: #920094;
		color: #920094
	}
}

.pointer:hover{
	cursor: pointer;
}
body {
	background-color: $porcelain; //same color as the footer
}

#setup-page {
	//Don't show blue border on click
	*:focus {
	    outline: none;
	}
	#header {
		height: 53px;
		color: $white;
		background-color: $ghosty-blue;
		font-size: 14px;
		.logo {
			height: 30px;
			width: auto;
			margin-left: 15px;
		}
		.signInToggle {
			padding: 8px 16px;
			font-size: 16px;
			background-color: $dark-magenta;
			border-radius: 3px;
			color: $white;
			cursor: pointer;
		}
		form {
			button {
				width: 84px;
				background-color: $dark-magenta;
				border-radius: 3px;
				color: $white;
				cursor: pointer;
			}
			input {
				width: 150px;
				margin: 0 7px 0 0;
				padding: 5px 8px;
				border-radius: 3px;
				display: inline-block;
				background-color: $porcelain;
				&::placeholder {
					color: #898989;
				}
			}
			button, input {
				height: 24px;
				font-size: 12px;
			}
		}
	}
	#sub-header {
		padding-top: 8px;
		background-color: $ghosty-blue;

		form {
			button {
				padding: 8px 16px;
				margin: 0 0 16px 7px;
				font-size: 16px;
				background-color: $dark-magenta;
				border-radius: 3px;
				color: $white;
				cursor: pointer;
			}
			input {
				border-radius: 3px;
				background-color: $porcelain;
				&::placeholder {
					color: #898989;
				}
			}
		}
	}
	#footer {
		color: #cccccc;
		background-color: $porcelain;
		margin-top: 10px;
		.copyright {
			padding: 15px 0;
			a {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
	#content {
		background-color: $whisper;
		min-height: 500px;
		#top-content {
			padding: 16px 0 24px;
			img { max-width: 134px; }
			h3 { max-width: 600px; }
		}
		#bottom-content {
			padding-bottom: 75px;
		}
	}
	#navigation {
		background-color: $whisper;
		padding: 0 0 35px;
		.legal-notice {
			text-align: center;
			font-style: italic;
		}
		.navigation-dots {
			width: 250px;
			max-width: 250px;
		}
		.circles {
			display: inline-block;
			a {
				display: inline-block;
				border-radius: 50%;
				height: 9px;
				width: 9px;
				background-color: #c8c7c2;
				border: 1px solid #979797;
				margin: 10px;
			}
			a.active {
				position: relative;
				&::after {
					content: '';
					border-radius: 50%;
					border: solid 2px #920094;
					width: 19px;
					height: 19px;
					position: absolute;
					left: -6px;
					top: -6px;
				}
			}
		}
		.button {
			text-transform: uppercase;
			.loader {
				display: none;
			}
			&.loading {
				pointer-events: none;
				.loader {
					position: relative;
					left: -46%;
					right: 0;
					margin: auto;
					display: inline-block;
					height: 15px;
					width: 15px;
					margin: 0 auto;
				}
				.title {
					visibility: hidden;
				}
			}
		}
	}

	#setup-choice-view,
	#blocking-view,
	#display-view {
		.box-link {
			height: 190px;
			max-width: 190px;
			padding: 0 4px;
			background-color: #f0f3f4;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin: 0 auto 16px;
			img { height: 74px; }
			.text {
				font-size: 18px;
				font-weight: bold;
				color: #4a4a4a;
				text-align: center;
			}
		}
	}
	#setup-choice-view,
	#display-view {
		.box-link-text {
			max-width: 190px;
			margin: 0 auto;
			padding: 0 0 0 10px;
			input[type="checkbox"] {
				position: absolute;
				margin: 6px 0 0 -10px;
			}
		}
	}
	#blocking-view,
	#display-view {
		input[type='radio'] {
			display: none;
		}
	}
	#additional-features-view {
		.cliqz-feature {
			margin-bottom: 12px;
			padding-bottom: 12px;
			border-bottom: 1px solid #eeeeee;
			&:last-of-type {
				border-bottom: none;
			}
			.cliqz-controls {
				height: 105px;
			}
			h4, h6 {
				display: inline-block;
			}
			h6 {
				padding-left: 30px;
				font-weight: bold;
				color: #7f0082;
			}
			p {
				font-size: 1rem;
			}
		}
		.AdditionalFeatures--add-padding {
			padding-left: 10px;
			padding-right: 30px;
		}
	}
	#display-view {
		.box-link {
			height: 325px;
			max-width: 325px;
			padding: 30px 36px 18px;
			img {
				height: auto;
			}
		}
		.box-link-text {
			max-width: 325px;
		}
	}
	#log-in-view {
		font-size: 14px;
		form {
			.columns {
				padding-bottom: 25px;
			}
			label {
				display: block;
				color: #4a4a4a;
				font-weight: 500;
			}
			input {
				border: 1px solid #c8c7c2;
				border-radius: 0;
				box-shadow: none;
				font-weight: 500;
				color: #393939;
				margin-bottom: 0;
				&::placeholder {
					color: #898989;
				}
				&.invalid {
					border-color: #e74055;
					+ .form-error-container .form-error {
						display: inline-block;
					}
					+ label + .form-error-container .form-error {
						margin-left: 24px;
						display: inline-block;
					}
				}
			}
			.form-error-container {
				position: absolute;
			}
		}
		.new-account {
			input[type="checkbox"] {
				position: absolute;
				margin-top: 25px;
			}
			input[type="checkbox"] + label {
				margin: 18px 0 0 24px;
			}
		}
		.logged-in {
			h3 {
				color: $ghosty-blue;
			}
		}
	}
	#done-view {
		.blue-border {
			border: 2px solid $ghosty-blue;
			border-radius: 3px;
			padding: 50px;
		}
		h3 {
			padding-top: 55px;
			padding-right: 20%;
		}
		.browser-bar {
			height: 45px;
			max-width: 422px;
			position: relative;
			background-image: url('/app/images/setup/ghostery-on-browser-bar.png');
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			margin: 0 auto;
			.arrow {
				position: absolute;
				right: 5.75%;
				top: 47px;
			}
		}
	}
	#custom-block-view-container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2147483647;
		#custom-block-view-screen {
			height: 100%;
			width: 100%;
			opacity: .5;
			background-color: #000;
			z-index: 9;
		}
		#custom-block-view {
			position: absolute;
			left: 50%;
			top: -750px;
			transform: translateX(-50%);
			height: 666px;
			background-color: #fff;
			overflow: hidden;
			z-index: 10;
			max-width: 750px;
			width: 100%;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			transition: top .5s linear;
			&.slide {
				top: 0;
			}
			.callout-container .callout.toast {
				top: 22px;
			}
			button {
				width: 179px;
				margin: 10px;
			}
			.blocking-header {
				.gear-icon {
					display: none;
				}
			}
			.scroll-content {
				overflow-y: auto;
			}
			.done-container {
				margin-top: -1px;
				background-color: #f7f8fb;
			}
			#settings-global-blocking {
				padding: 0 10px;
				background-color: #f7f8fb;
				.blocking-trackers {
					height: 497px;
					.cat-image {
						margin-top: 12px;
						margin-left: 18px;
					}
				}
				.expand-all-text {
					height: 25px;
					line-height: 25px;
				}
			}
		}
	}
}

%nowrap {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.blocking-controls {
	height: 32px;
	width: 125px;
	font-size: 12px;
	line-height: 15px;
	font-weight: 600;
	color: #4a4a4a;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin: 20px 15px;
	text-align: center;
	@extend %nowrap;
	svg {
		margin-left: 3px;
		fill: #4a4a4a;
	}
	// &:hover {
	// 	border-color: #4a4a4a;
	// 	&.disabled {border-color: #cccccc;}
	// }
	&.active {
		border: none;
		// &:hover {border: none;}
		svg {fill: #ffffff;}
		span {color: #ffffff;}
		&.controls-trust {background-color: #9ecc42;}
		&.controls-restrict {background-color: #e74055;}
		&.controls-pause {background-color: #00aef0;}
	}
	// &:not(.active), &.disabled, &.active:not(:hover) {
	// 	.button-hover {display: none;}
	// }
	// &.active:not(.disabled):hover {
	// 	.button-hover {display: inline-block;}
	// 	.button-not-hover {display: none;}
	// }
	&:not(.active) {
		.button-active {display: none;}
	}
	&.active {
		.button-not-active {display: none;}
	}
}
.cliqz-ctrl-wrapper {
	border-width: 1px 0px;
	border-color: #eee;
	border-style: solid;
	margin-bottom: 20px;
}
.cliqz-controls {
	display: inline-block;
	margin: 15px 0 15px 20px;
	background-color: transparent;
	position: relative;
	button {
		height: 100%;
		width: 40px;
		margin: 0px;
		background-color: transparent;
		background-size: 100%;
		background-position: center 40px;
		// border-radius: 50%;
		// &:hover {
		// 	background-color: #EBEBEB;
		// }
	}
}

@function buildAntiTrackIcon($stroke-color){
	@return url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2222px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2022%2022%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2047.1%20%2845422%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3EPage%201%20Copy%202%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Simple-View-Panel---hover---adblocing%22%20transform%3D%22translate%28-1082.000000%2C%20-690.000000%29%22%20stroke%3D%22%23#{$stroke-color}%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1093.2127%2C691.032068%20C1093.08497%2C690.989311%201092.91503%2C690.989311%201092.7873%2C691.032068%20L1083.63836%2C693.457515%20C1083.25545%2C693.542485%201083%2C693.882908%201083%2C694.265816%20C1083.04276%2C700.776614%201086.53196%2C706.81899%201092.53185%2C710.861584%20C1092.65958%2C710.946554%201092.82979%2C710.989311%201093%2C710.989311%20C1093.17021%2C710.989311%201093.34042%2C710.946554%201093.46815%2C710.861584%20C1099.46804%2C706.81899%201102.95724%2C700.776614%201103%2C694.265816%20C1103%2C693.882908%201102.74455%2C693.542485%201102.36164%2C693.457515%20L1093.2127%2C691.032068%20Z%22%20id%3D%22Page-1-Copy-2%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
}

@function buildAdBlockIcon($stroke-color){
	@return url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2047.1%20%2845422%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3EFill%201%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Simple-View-Panel---hover---adblocing%22%20transform%3D%22translate%28-1166.000000%2C%20-735.000000%29%22%20stroke%3D%22%23#{$stroke-color}%22%20stroke-width%3D%220.5%22%20fill%3D%22%23#{$stroke-color}%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1171.71317%2C754.301569%20C1172.4562%2C755.045891%201173.19537%2C755.790213%201173.94227%2C756.528096%20C1173.99635%2C756.582182%201174.10195%2C756.610513%201174.18565%2C756.610513%20C1176.73025%2C756.614376%201179.27356%2C756.615664%201181.81816%2C756.609225%20C1181.91088%2C756.609225%201182.02806%2C756.56029%201182.09374%2C756.495903%20C1183.89659%2C754.700773%201185.69429%2C752.901779%201187.4907%2C751.098923%20C1187.55638%2C751.03196%201187.60918%2C750.91735%201187.60918%2C750.824631%20C1187.6169%2C748.272302%201187.61561%2C745.72126%201187.61304%2C743.16893%20C1187.61175%2C743.099391%201187.5963%2C743.007961%201187.55252%2C742.961601%20C1186.80562%2C742.203114%201186.05357%2C741.451065%201185.31054%2C740.704168%20C1180.77122%2C745.242215%201176.24734%2C749.766097%201171.71317%2C754.301569%20M1170.68168%2C753.279092%20C1175.21843%2C748.74362%201179.74488%2C744.215875%201184.27648%2C739.684266%20C1183.54761%2C738.955397%201182.80844%2C738.212362%201182.06154%2C737.474479%20C1182.00617%2C737.420393%201181.90186%2C737.389487%201181.82073%2C737.389487%20C1179.27614%2C737.384336%201176.73154%2C737.384336%201174.18823%2C737.390775%20C1174.09422%2C737.390775%201173.97575%2C737.435846%201173.91007%2C737.501522%20C1172.10207%2C739.301803%201170.29664%2C741.104659%201168.49637%2C742.912667%20C1168.43971%2C742.970616%201168.39077%2C743.068485%201168.39077%2C743.147038%20C1168.38562%2C745.714821%201168.38562%2C748.281316%201168.38948%2C750.847811%20C1168.38948%2C750.91735%201168.41524%2C751.003629%201168.46289%2C751.049988%20C1169.20463%2C751.802037%201169.95281%2C752.548935%201170.68168%2C753.279092%20M1188.99608%2C747.014165%20C1188.99608%2C748.386912%201188.99093%2C749.75837%201188.99995%2C751.129829%20C1189.00252%2C751.4273%201188.90981%2C751.655233%201188.6999%2C751.865137%20C1186.75025%2C753.805783%201184.80574%2C755.75158%201182.86381%2C757.699953%20C1182.66163%2C757.903418%201182.44143%2C758%201182.1504%2C758%20C1179.38559%2C757.993561%201176.6195%2C757.993561%201173.85213%2C758%20C1173.56367%2C758%201173.34346%2C757.905994%201173.13871%2C757.702529%20C1171.19292%2C755.749005%201169.24198%2C753.798057%201167.28717%2C751.850972%20C1167.08885%2C751.653945%201167%2C751.437602%201167.00129%2C751.156872%20C1167.00644%2C748.390775%201167.00644%2C745.624678%201167%2C742.857293%20C1167%2C742.568836%201167.08757%2C742.347343%201167.29232%2C742.14259%20C1169.24713%2C740.195505%201171.19807%2C738.245844%201173.14515%2C736.291033%20C1173.34218%2C736.094006%201173.55594%2C736%201173.83667%2C736%20C1176.61049%2C736.005151%201179.38431%2C736.005151%201182.15812%2C736%20C1182.44014%2C736%201182.6552%2C736.090143%201182.85093%2C736.288457%20C1184.80445%2C738.24842%201186.76184%2C740.203231%201188.72051%2C742.156755%20C1188.91109%2C742.347343%201189.00124%2C742.558534%201188.99995%2C742.830251%20C1188.99222%2C744.224889%201188.99608%2C745.619527%201188.99608%2C747.014165%22%20id%3D%22Fill-1%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
}

@function buildSmartBlockIcon($stroke-color){
	@return url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2218px%22%20height%3D%2228px%22%20viewBox%3D%220%200%2018%2028%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2047.1%20%2845422%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%2011%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Simple-View-Panel---hover---adblocing%22%20transform%3D%22translate%28-1105.000000%2C%20-711.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-11%22%20transform%3D%22translate%281105.000000%2C%20711.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon--smart-blocking-light-bulb%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M15.9766215%2C9.23905085%20C15.8801207%2C10.9165559%2015.2802076%2C12.3962344%2014.3232416%2C13.7536786%20C13.8922048%2C14.3648501%2013.456343%2C14.9711966%2013.038173%2C15.5936266%20C12.4414766%2C16.4814337%2011.9637978%2C17.4255329%2011.7804463%2C18.4918664%20C11.7498877%2C18.6671761%2011.6389118%2C18.6543094%2011.5166775%2C18.6543094%20C10.6755125%2C18.652701%209.83434744%2C18.652701%208.99157404%2C18.652701%20C8.16005907%2C18.652701%207.32854409%2C18.647876%206.49542077%2C18.6559177%20C6.31367765%2C18.6575261%206.24934381%2C18.606059%206.21235184%2C18.4178825%20C6.01452526%2C17.3869326%205.55453826%2C16.4637419%204.9707086%2C15.60006%20C4.47372963%2C14.8666541%203.95584216%2C14.146115%203.45725484%2C13.4127092%20C2.5501476%2C12.0826069%202.07568548%2C10.6109701%202.01135163%2C9.00101562%20C1.8987674%2C6.18158477%203.4974635%2C3.72242346%206.19626838%2C2.58049768%20C9.65421266%2C1.118511%2013.7426286%2C2.58532272%2015.3622332%2C5.87439065%20C15.8833374%2C6.93589913%2016.044172%2C8.0633498%2015.9766215%2C9.23905085%20L15.9766215%2C9.23905085%20Z%20M6.35227796%2C21.3000388%20L11.6566037%2C21.3000388%20L11.6566037%2C20.6695671%20L6.35227796%2C20.6695671%20L6.35227796%2C21.3000388%20Z%20M11.1113743%2C23.9811519%20L6.89589897%2C23.9811519%20C6.38766158%2C23.9811519%206.2943775%2C23.8733927%206.36031969%2C23.3281634%20L11.6405202%2C23.3281634%20C11.7145041%2C23.865351%2011.6180033%2C23.9811519%2011.1113743%2C23.9811519%20L11.1113743%2C23.9811519%20Z%20M17.3501491%2C5.40475357%20C15.9010292%2C2.2363116%2013.3839675%2C0.476780878%209.96462348%2C0.0698692952%20C7.05190855%2C-0.277533479%204.51876332%2C0.679432497%202.45364683%2C2.74294064%20C0.148886755%2C5.04930906%20-0.40438433%2C7.86713156%200.26468768%2C10.9841065%20C0.615307147%2C12.6133611%201.41304685%2C14.0303141%202.36840448%2C15.3732832%20C2.80587464%2C15.9908881%203.23691142%2C16.6165348%203.63899796%2C17.2566565%20C4.01052593%2C17.8501363%204.2742947%2C18.4982998%204.30002824%2C19.2027554%20C4.33058682%2C20.0165786%204.30806997%2C20.8304018%204.30806997%2C21.6442249%20L4.34023689%2C21.6442249%20C4.34023689%2C22.3197303%204.33862855%2C22.9952357%204.34184524%2C23.6707411%20C4.34827862%2C24.8753924%205.29398618%2C25.8918672%206.49220408%2C25.9706761%20C6.649822%2C25.9819346%206.70289743%2C26.0269683%206.74149774%2C26.1845862%20C6.99722478%2C27.242878%207.92684887%2C27.9746755%208.99157404%2C27.9762838%20C10.0772077%2C27.9778922%2011.0003984%2C27.2541364%2011.2657755%2C26.1781528%20C11.2995508%2C26.0382267%2011.3381511%2C25.9835429%2011.490944%2C25.9722845%20C12.7325872%2C25.8790004%2013.6622113%2C24.8753924%2013.665428%2C23.6353575%20C13.665428%2C22.3776308%2013.6750781%2C21.1199041%2013.6622113%2C19.860569%20C13.6509529%2C18.9196865%2013.869688%2C18.0447462%2014.3682753%2C17.2502232%20C14.7703619%2C16.6101014%2015.1997903%2C15.9828464%2015.6420855%2C15.3700665%20C16.9046372%2C13.6137525%2017.7972694%2C11.7175123%2017.9645374%2C9.52694482%20C18.0739049%2C8.10355845%2017.9468456%2C6.71073066%2017.3501491%2C5.40475357%20L17.3501491%2C5.40475357%20Z%22%20id%3D%22Page-1%22%20fill%3D%22%23#{$stroke-color}%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M9.09571339%2C7.21443826%20C9.03823634%2C7.19518725%208.96176366%2C7.19518725%208.90428661%2C7.21443826%20L4.78726273%2C8.3064732%20C4.61495411%2C8.34472999%204.5%2C8.49800235%204.5%2C8.67040311%20C4.51924072%2C11.6018291%206.08938152%2C14.3223522%208.7893325%2C16.1424922%20C8.84680955%2C16.180749%208.92340478%2C16.2%209%2C16.2%20C9.07659522%2C16.2%209.15319045%2C16.180749%209.2106675%2C16.1424922%20C11.9106185%2C14.3223522%2013.4807593%2C11.6018291%2013.5%2C8.67040311%20C13.5%2C8.49800235%2013.3850459%2C8.34472999%2013.2127373%2C8.3064732%20L9.09571339%2C7.21443826%20Z%22%20id%3D%22Page-1-Copy-2%22%20stroke%3D%22%23#{$stroke-color}%22%20stroke-width%3D%221.5%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
}

$button-grey: 979797;
$button-purple: 930194;
$button-purple-f: unquote("##{$button-purple}");

@mixin purple-dot {
	position: absolute;
	display: block;
	background-color: $button-purple-f;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	top: 20px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	content: '';
}
.anti-track-btn {
	background-position: center;
	height: 24px;
	background-image: buildAntiTrackIcon($button-grey);
	background-repeat: no-repeat;
	&.active {
		background-image: buildAntiTrackIcon($button-purple);
		&:after {
			@include purple-dot;
		}
	}
}
.ad-block-btn {
	background-position: center;
	height: 25px;
	background-repeat: no-repeat;
	background-image: buildAdBlockIcon($button-grey);
	&.active {
		background-image: buildAdBlockIcon($button-purple);
		&:after {
			@include purple-dot;
		}
	}
}
.smart-block-btn {
	background-position: center;
	height: 30px;
	background-repeat: no-repeat;
	background-image: buildSmartBlockIcon($button-grey);
	&.active {
		background-image: buildSmartBlockIcon($button-purple);
		&:after {
			@include purple-dot;
		}
	}
}

.loader {
	font-size: 10px;
	margin: 50px auto;
	text-indent: -9999em;
	width: 11rem;
	height: 11rem;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #ffffff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #920094;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

// Upgrade Views
#upgrade-view {
	h1 {
		height: 53px;
		width: 483px;
		color: #1790E4;
		font-size: 33px;
		font-weight: 600;
		line-height: 33px;
	}
	.tagline {
		margin-bottom: 30px;
		width: 483px;
		color: #4A4A4A;
		font-size: 24px;
		font-style: italic;
		font-weight: bold;
		line-height: 33px;
	}
	.upgrade-feature {
		padding: 20px 0;
		img {
			width: 100px;
			height: 100px;
			padding-bottom: 20px;
		}
		.description {
			line-height: 28px;
			color: #4A4A4A;
			font-size: 14px;
			font-weight: 500;
		}
	}
	.actions {
		.pointer,
		.ghostery-button {
			line-height: 20px;
			font-size: 20px;
		}
	}
	.screenshots {
		position: relative;
		height: 0px;
		width: 100%;
		margin-bottom: 500px;

		.img-container {
			position: absolute;
			&.left {
				top: 175px;
				left: 20px;
			}
			&.right {
				right: 20px;
			}
		}
		img {
			height: 258px;
			width: 290px;
		}
	}
}
