@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./assets/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./assets/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Medium.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), url('./assets/RobotoCondensed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), url('./assets/RobotoCondensed-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  /* Colors */
  --ui-color-gray-800: #202225;
  --ui-color-gray-700: #2f3136;
  --ui-color-gray-600: #3f4146;
  --ui-color-gray-400: #88898c;
  --ui-color-gray-300: #b9bbbe;
  --ui-color-gray-200: #d4d6d9;
  --ui-color-gray-100: #f2f4f7;
  --ui-color-white: white;

  --ui-color-primary-700: #0077cc;
  --ui-color-primary-500: #00aef0;
  --ui-color-primary-100: #ebf7fd;
  --ui-color-secondary-500: #00b0ff;

  --ui-color-newsletter-500: #ac59b5;

  --ui-color-success-700: #13770c;
  --ui-color-success-500: #43ac3c;
  --ui-color-warning-500: #ffbb00;
  --ui-color-error-500: #ff4500;
  --ui-color-error-400: #ff5d35;

  --ui-color-current: currentColor;
  --ui-color-onboarding-card: var(--ui-color-white);

  /* Fonts */

  --ui-font-family-display: 'Roboto Condensed', sans-serif;
  --ui-font-family-headline: var(--ui-font-family-display);
  --ui-font-family-button: var(--ui-font-family-display);

  --ui-font-family-body: 'Roboto', sans-serif;
  --ui-font-family-label: var(--ui-font-family-body);

  --ui-font-display-2xl: 700 40px / 40px var(--ui-font-family-display);
  --ui-font-display-xl: 700 32px / 32px var(--ui-font-family-display);
  --ui-font-display-l: 700 32px / 32px var(--ui-font-family-display);
  --ui-font-display-m: 700 24px / 24px var(--ui-font-family-display);
  --ui-font-display-s: 700 20px / 20px var(--ui-font-family-display);
  --ui-font-display-xs: 700 18px / 18px var(--ui-font-family-display);
  --ui-font-display-2xs: 700 16px / 16px var(--ui-font-family-display);

  --ui-font-headline-xl: 32px / 38px var(--ui-font-family-headline);
  --ui-font-headline-l: 24px / 28px var(--ui-font-family-headline);
  --ui-font-headline-m: 24px / 28px var(--ui-font-family-headline);
  --ui-font-headline-s: 20px / 24px var(--ui-font-family-headline);
  --ui-font-headline-xs: 20px / 24px var(--ui-font-family-headline);
  --ui-font-headline-2xs: 16px / 20px var(--ui-font-family-headline);

  --ui-font-button-m: 700 18px / 20px var(--ui-font-family-button);
  --ui-font-button-s: 700 18px / 20px var(--ui-font-family-button);

  --ui-font-label-2xl: 500 20px / 24px var(--ui-font-family-label);
  --ui-font-label-xl: 500 18px / 22px var(--ui-font-family-label);
  --ui-font-label-l: 500 16px / 20px var(--ui-font-family-label);
  --ui-font-label-m: 500 14px / 18px var(--ui-font-family-label);
  --ui-font-label-s: 500 12px / 16px var(--ui-font-family-label);
  --ui-font-label-xs: 500 12px / 16px var(--ui-font-family-label);

  --ui-font-body-2xl: 20px / 28px var(--ui-font-family-body);
  --ui-font-body-xl: 18px / 26px var(--ui-font-family-body);
  --ui-font-body-l: 16px / 24px var(--ui-font-family-body);
  --ui-font-body-m: 14px / 20px var(--ui-font-family-body);
  --ui-font-body-s: 12px / 18px var(--ui-font-family-body);
  --ui-font-body-xs: 12px / 18px var(--ui-font-family-body);

  --ui-text-color-anchor: var(--ui-color-primary-500);
}

@media screen and (min-width: 768px) {
  html {
    --ui-font-display-2xl: 700 72px / 72px var(--ui-font-family-display);
    --ui-font-display-xl: 700 58px / 58px var(--ui-font-family-display);
    --ui-font-display-l: 700 40px / 40px var(--ui-font-family-display);
    --ui-font-display-m: 700 32px / 32px var(--ui-font-family-display);
    --ui-font-display-s: 700 24px / 24px var(--ui-font-family-display);
    --ui-font-display-xs: 700 20px / 20px var(--ui-font-family-display);
    --ui-font-display-2xs: 700 16px / 16px var(--ui-font-family-display);

    --ui-font-headline-xl: 58px / 64px var(--ui-font-family-headline);
    --ui-font-headline-l: 40px / 48px var(--ui-font-family-headline);
    --ui-font-headline-m: 32px / 38px var(--ui-font-family-headline);
    --ui-font-headline-s: 24px / 28px var(--ui-font-family-headline);
    --ui-font-headline-xs: 20px / 24px var(--ui-font-family-headline);
    --ui-font-headline-2xs: 16px / 20px var(--ui-font-family-headline);

    --ui-font-button-m: 700 22px / 24px var(--ui-font-family-button);
    --ui-font-button-s: 700 18px / 20px var(--ui-font-family-button);

    --ui-font-label-2xl: 500 22px / 26px var(--ui-font-family-label);
    --ui-font-label-xl: 500 20px / 24px var(--ui-font-family-label);
    --ui-font-label-l: 500 18px / 22px var(--ui-font-family-label);
    --ui-font-label-m: 500 16px / 20px var(--ui-font-family-label);
    --ui-font-label-s: 500 14px / 18px var(--ui-font-family-label);
    --ui-font-label-xs: 500 12px / 16px var(--ui-font-family-label);

    --ui-font-body-2xl: 22px / 30px var(--ui-font-family-body);
    --ui-font-body-xl: 20px / 28px var(--ui-font-family-body);
    --ui-font-body-l: 18px / 26px var(--ui-font-family-body);
    --ui-font-body-m: 16px / 24px var(--ui-font-family-body);
    --ui-font-body-s: 14px / 20px var(--ui-font-family-body);
    --ui-font-body-xs: 12px / 18px var(--ui-font-family-body);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --ui-color-onboarding-card: var(--ui-color-gray-100);
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Open Sans', Arial,
    Helvetica, sans-serif;
  font-size: 13px;
  -moz-osx-font-smoothing: grayscale;
  color: var(--ui-color-gray-600);
  background: var(--ui-color-white);
}

button,
label,
input {
  font-family: inherit !important;
}
