# ESLint Ignore

## Unit Test Files
*.test.js
*.test.jsx
*.jsx.snap

## Data Images
app/data-images/

## Vendor Files
app/content-scripts/vendor/

## Precompiled
app/templates/
build/
cliqz/
dist/
docs/

## Node Modules
node_modules/
