## Build Files
dist/
build/
licenses.json

## Node
node_modules/
npm-debug.log
yarn-error.log

## Development Files
*.swp
*.pem
/Makefile_
/test/output.html

## Translation Files
.ltk
tools/i18n_results
tools/leet/*.json

# Cliqz
cliqz/

# Tools
tools/amo/*.zip

## JSDoc
docs/
jsdocs/
out/

#OSX
.DS_Store

#Other Files
bug-list.md
