# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
.cache
.eslintcache
.project
.settings
.tmproj
nbproject
Thumbs.db
.tern-project
.vscode

# NPMs
node_modules/
npm-debug.log

# Source
src/rule_resources

# Build
dist/
web-ext-artifacts/

# xcode
*.xcuserstate
xcuserdata
*.xcloc
xcode/**/*/Package.resolved
