language: node_js
node_js:
  - "lts/*"
sudo: false

cache:
  yarn: true

install:
  - yarn install --frozen-lockfile

script:
  - node ./tools/licenses/fetchLicenses.js
  - yarn run lint
  - yarn run test.unit
