# Ghostery CODEOWNERS
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precendence.

# Core Ghostery team
*       @ghostery/ghostery

# CMP / Metrics / WebRequest
/src/classes/ABTest.js @jsignanini
/src/classes/CMP.js @jsignanini
/src/classes/EventHandlers.js @jsignanini
/src/classes/Metrics.js @jsignanini
/src/classes/PolicySmartBlock.js @jsignanini
/src/classes/Conf.js @zarembsky
/src/classes/ConfData.js @zarembsky
/src/classes/PanelData.js @zarembsky

# Background
/src/background.js @zarembsky

# The Ghostery Hub
/app/hub/ @IAmThePan

# Shared Components
/app/shared-components @IAmThePan

# Rewards
/app/content-scripts/rewards/ @trickpattyFH20
/app/panel/components/Rewards.jsx @trickpattyFH20
/src/classes/Rewards.js @trickpattyFH20

# Build Tools
webpack.config.js @trickpattyFH20
.eslintrc.json @trickpattyFH20

# Unit Tests
/test/ @IAmThePan
