<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Products</key>
	<array>
		<string>com.ghostery.subscription.plus.onetime.small</string>
		<string>com.ghostery.subscription.plus.onetime.medium</string>
		<string>com.ghostery.subscription.plus.onetime.large</string>
		<string>com.ghostery.subscription.plus.month.small</string>
		<string>com.ghostery.subscription.plus.month.medium</string>
		<string>com.ghostery.subscription.plus.month.large</string>
		<string>com.ghostery.subscription.plus.year.small</string>
		<string>com.ghostery.subscription.plus.year.medium</string>
		<string>com.ghostery.subscription.plus.year.large</string>
	</array>
</dict>
</plist>
