/**
 * Step1_CreateAccountForm Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.Step1_CreateAccountForm--addPaddingTop {
	padding-top: 20px;
}
.Step1_CreateAccountForm__inputLabel {
	font-size: 14px;
	font-weight: 500;
	line-height: 2.86;
	text-transform: uppercase;
	color: #4a4a4a;
}
.Step1_CreateAccountForm__inputBox {
	margin-bottom: 20px;
	font-size: 14;
	line-height: 24px;
	color: #4a4a4a;

	// Foundation Overrides
	border-radius: 6px;
	box-shadow: none;
	border: 1px solid #9b9b9b;

	&::placeholder {
		color: #c4ced1;
	}
}
.Step1_CreateAccountForm__inputBox.error {
	border-color: $color-create-account-form-error-red;
}
.Step1_CreateAccountForm__inputErrorContainer {
	position: relative;

	> .Step1_CreateAccountForm__inputError {
		position: absolute;
		margin-top: -15px;
		color: red;
	}
}
.Step1_CreateAccountForm__legalConsentCheckedLabel {
	font-size: 14px;
	@include breakpoint(small down) {
		width: 258px;
	}

	&.error {
		color: red;
	}
}
.Step1_CreateAccountForm__ctaButtonContainer {
	display: flex;
	justify-content: center;

	.Step1_CreateAccountForm__ctaButton {
		margin: 48px auto 0 auto;
		height: 44px;
		width: 162px;
		padding: 7.7px 14px;
		line-height: 22px;
		background: linear-gradient(
			45deg,
			#ff7e74 50%,
			#00aef0
		);
		background-size: 200% 100%;
		background-position: 100% 50%;
		transition: 0.25s all;
		border: none;
		&:hover {
			background-position: 0% 50%;
			transition: 0.25s all;
		}
		color: #FFF;
		font-size: 14.1px;
		font-weight: 700;
		border-radius: 3.5px;
		text-align: center;
		line-height: 2.05;
		cursor: pointer;
	}
}
@media only screen and (max-width: 740px) {
	.Step1_CreateAccountForm__checkboxContainer {
		display: flex;
		align-items: center;
		padding-right: 12px;
		justify-content: center;
	}
}
