/**
 * Side Navigation View Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Side Navigation View
.SideNavigation {
	position: fixed;
	height: 100%;
	width: 230px;
	overflow-y: auto;
	background-color: #5d7d85;
}
.SideNavigation__top {
	min-height: 80px;
	background-color: #e7ecee;
	background-size: 140px auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.SideNavigation__top.medium-logo {
	background-image: url('/app/images/hub/side-navigation/ghostery-logo.svg');
}
.SideNavigation__top.small-logo {
	background-image: url('/app/images/hub/side-navigation/ghostery-stacked-logo.svg');
	background-size: 40px auto;
}
.SideNavigation__top.disabled {
	pointer-events: none;
}
.SideNavigation__menu {
	padding-bottom: 48px;
}
.SideNavigation__bottom {
	min-height: 82px;
	padding-bottom: 26px;
}
.SideNavigation__item {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: 0.5px;
	color: #ffffff;
	pointer-events: none;
}
.SideNavigation__menuItem {
	min-height: 80px;
}
.SideNavigation__bottomItem {
	min-height: 28px;
	padding-left: 20px;
	padding-right: 35px;
}
.SideNavigation__item .clickable,
.SideNavigation__item a {
	color: #ffffff;
	pointer-events: all;
}
.SideNavigation__item a:active,
.SideNavigation__item a:visited,
.SideNavigation__item a:hover {
	color: #ffffff;
}
.SideNavigation__item .clickable.disabled,
.SideNavigation__item a.disabled {
	pointer-events: none;
	color: #a9b9be;
}
.SideNavigation__item a.disabled:active,
.SideNavigation__item a.disabled:visited,
.SideNavigation__item a.disabled:hover {
	color: #a9b9be;
}
.SideNavigation__item a.disabled.active {
	color: #ffffff;
}

.SideNavigation__item a.active {
	text-decoration: underline;
	padding-right: 35px;
}
.SideNavigation__item a.active::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 0 0 40px 30px;
	border-color: transparent transparent #ffffff transparent;
}
.SideNavigation__item a.active::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 0 30px 40px 0;
	border-color: transparent #ffffff transparent transparent;
}
.SideNavigation__bottomItem a.active::before {
	top: -26px;
}
.SideNavigation__bottomItem a.active::after {
	top: 14px;
}
.SideNavigation__menuIcon {
	min-width: 55px;
	height: 35px;
	background-size: auto 28px;
	background-repeat: no-repeat;
	background-position: center center;
}
a .SideNavigation__menuIcon.home,
a.disabled.active .SideNavigation__menuIcon.home {
	background-image: buildIconHome(#ffffff);
}
a .SideNavigation__menuIcon.setup,
a.disabled.active .SideNavigation__menuIcon.setup {
	background-image: buildIconSetup(#ffffff);
}
a .SideNavigation__menuIcon.tutorial,
a.disabled.active .SideNavigation__menuIcon.tutorial {
	background-image: buildIconTutorial(#ffffff);
}
a .SideNavigation__menuIcon.plus,
a.disabled.active .SideNavigation__menuIcon.plus {
	background-image: buildIconPlus(#ffffff);
}
a .SideNavigation__menuIcon.rewards,
a.disabled.active .SideNavigation__menuIcon.rewards {
	background-image: buildIconRewards(#ffffff);
}
a .SideNavigation__menuIcon.products,
a.disabled.active .SideNavigation__menuIcon.products {
	background-image: buildIconProducts(#ffffff);
}
a.disabled .SideNavigation__menuIcon.home {
	background-image: buildIconHome(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.setup {
	background-image: buildIconSetup(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.tutorial {
	background-image: buildIconTutorial(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.plus {
	background-image: buildIconPlus(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.rewards {
	background-image: buildIconRewards(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.products {
	background-image: buildIconProducts(#a9b9be);
}
.SideNavigation__menuText {
	max-width: 145px;
}
@media only screen and (max-width: 840px)  {
	.SideNavigation {
		width: 54px;
		transition: width 0.5s;
	}
	.SideNavigation--expanded {
		width: 230px;
	}
	.SideNavigation__item a.active::before {
		border-width: 0 0 0 0;
	}
	.SideNavigation__item a.active::after {
		border-width: 0 0 0 0;
	}
	.SideNavigation--expanded .SideNavigation__item a.active::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 0;
		width: 0;
		border-style: solid;
		border-width: 0 0 40px 30px;
		border-color: transparent transparent #ffffff transparent;
	}
	.SideNavigation--expanded .SideNavigation__item a.active::after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		height: 0;
		width: 0;
		border-style: solid;
		border-width: 0 30px 40px 0;
		border-color: transparent #ffffff transparent transparent;
	}
}
