/**
 * Side Navigation View Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Side Navigation View
.SideNavigation {
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 230px;
	overflow-y: auto;
	background-color: #5d7d85;
	overflow-x: hidden;
	@include transition(width .5s);
}
.SideNavigation__top {
	min-height: 80px;
	background-color: #e7ecee;
	background-image: url('/app/images/hub/side-navigation/ghostery-logo.svg');
	background-size: 140px auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.SideNavigation__top.disabled {
	pointer-events: none;
}
.SideNavigation__menu {
	padding-bottom: 48px;
}
.SideNavigation__bottom {
	min-height: 82px;
	padding-bottom: 26px;
}
.SideNavigation__item {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: 0.5px;
	color: #ffffff;
	pointer-events: none;
}
.SideNavigation__menuItem {
	min-height: 80px;
}
.SideNavigation__bottomItem {
	min-height: 28px;
	padding-left: 20px;
	padding-right: 35px;
	width: 230px;
}
.SideNavigation__item .clickable,
.SideNavigation__item a {
	color: #ffffff;
	pointer-events: all;
}
.SideNavigation__item a:active,
.SideNavigation__item a:visited,
.SideNavigation__item a:hover {
	color: #ffffff;
}
.SideNavigation__item .clickable.disabled,
.SideNavigation__item a.disabled {
	pointer-events: none;
	color: #a9b9be;
}
.SideNavigation__item a.disabled:active,
.SideNavigation__item a.disabled:visited,
.SideNavigation__item a.disabled:hover {
	color: #a9b9be;
}
.SideNavigation__item a.disabled.active {
	color: #ffffff;
}
.SideNavigation__item a.active {
	text-decoration: underline;
	padding-right: 35px;
}
.SideNavigation__item a.active::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 0 0 40px 30px;
	border-color: transparent transparent #ffffff transparent;
	@include transition(opacity .3s ease .4s);
}
.SideNavigation__item a.active::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 0 30px 40px 0;
	border-color: transparent #ffffff transparent transparent;
	@include transition(opacity .3s ease .4s);
}
.SideNavigation__bottomItem a.active::before {
	top: -26px;
}
.SideNavigation__bottomItem a.active::after {
	top: 14px;
}
.SideNavigation__menuIcon {
	min-width: 55px;
	height: 35px;
	background-size: auto 28px;
	background-repeat: no-repeat;
	background-position: center center;
}
a .SideNavigation__menuIcon.home,
a.disabled.active .SideNavigation__menuIcon.home {
	background-image: buildIconHome(#ffffff);
}
a .SideNavigation__menuIcon.setup,
a.disabled.active .SideNavigation__menuIcon.setup {
	background-image: buildIconSetup(#ffffff);
}
a .SideNavigation__menuIcon.tutorial,
a.disabled.active .SideNavigation__menuIcon.tutorial {
	background-image: buildIconTutorial(#ffffff);
}
a .SideNavigation__menuIcon.plus,
a.disabled.active .SideNavigation__menuIcon.plus {
	background-image: buildIconPlus(#ffffff);
}
a .SideNavigation__menuIcon.rewards,
a.disabled.active .SideNavigation__menuIcon.rewards {
	background-image: buildIconRewards(#ffffff);
}
a .SideNavigation__menuIcon.products,
a.disabled.active .SideNavigation__menuIcon.products {
	background-image: buildIconProducts(#ffffff);
}
a .SideNavigation__menuIcon.profile,
a.disabled.active .SideNavigation__menuIcon.profile {
	background-image: buildIconProfile(#ffffff);
}
a.disabled .SideNavigation__menuIcon.home {
	background-image: buildIconHome(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.setup {
	background-image: buildIconSetup(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.tutorial {
	background-image: buildIconTutorial(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.plus {
	background-image: buildIconPlus(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.rewards {
	background-image: buildIconRewards(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.products {
	background-image: buildIconProducts(#a9b9be);
}
a.disabled .SideNavigation__menuIcon.profile {
	background-image: buildIconProfile(#a9b9be);
}
.SideNavigation__menuText {
	width: 145px;
}
.SideNavigation__menuIcon.profile {
	position: absolute;
	top: -25px;
	left: 0px;
}
.SideNavigation__menuIcon.profile {
	opacity: 1;
	@include transition(opacity .3s ease .4s);
}
.SideNavigation:not(.disabled):hover .SideNavigation__menuIcon.profile {
	opacity: 0;
	@include transition(opacity .3s);
}
.SideNavigation__item a.active .SideNavigation__menuIcon {
	@include transition(border-color .3s ease .4s);
}
@media only screen and (max-width: 740px)  {
	.SideNavigation {
		width: 55px;
	}
	.SideNavigation:not(.disabled):hover {
		width: 230px;
	}
	.SideNavigation:not(:hover) .SideNavigation__top,
	.SideNavigation__top.disabled {
		background-image: url('/app/images/hub/side-navigation/ghostery-stacked-logo.svg');
		background-size: 40px auto;
	}
	.SideNavigation:not(.disabled):hover .SideNavigation__item a.active .SideNavigation__menuIcon {
		border-right: 3px solid rgba(white, 0);
		@include transition(none);
	}
	.SideNavigation__item a.active .SideNavigation__menuIcon {
		border-right: 3px solid white;
    margin: 0 1px 0 4px;
    min-width: 50px;
		@include transition(border-color .3s ease .4s);
	}
	.SideNavigation:not(:hover) .SideNavigation__item a.active::before,
	.SideNavigation:not(:hover) .SideNavigation__item a.active::after,
	.SideNavigation.disabled .SideNavigation__item a.active::before,
	.SideNavigation.disabled .SideNavigation__item a.active::after, {
		opacity: 0;
		@include transition(opacity .3s);
	}
	.SideNavigation__bottomText {
		opacity: 0;
		@include transition(opacity .3s);
	}
	.SideNavigation:not(.disabled):hover .SideNavigation__bottomText {
		opacity: 1;
		@include transition(opacity .3s ease .4s);
	}
}
