@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --ui-text: #838b90;
  --ui-black: #252525;
  --ui-ghostery: #00aef0;
  --ui-deep-blue: #0d8fe7;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Open Sans', Arial,
    Helvetica, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: var(--ui-text);
}

button,
label,
input {
  font-family: inherit !important;
}
