/**
 * Home View Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Home View
.HomeView {
	padding-top: 45px;
	padding-bottom: 25px;
	color: #4a4a4a;
}
.HomeView--bolded {
	font-weight: 700;
}
.HomeView--pad-left {
	padding-left: 12px;
}
.HomeView__header img {
	max-width: 156px;
	margin-right: 23px;
}
.HomeView__header h1 {
	color: #4a4a4a;
	margin-bottom: 19px;
}
.HomeView__headerTagline {
	margin-top: 7px;
	font-size: 20px;
	line-height: 30px;
	color: #4a4a4a;
}
.HomeView__supportContainer {
	margin-top: 12px;
	margin-left: -12px;
}
.HomeView__subHeader {
	margin-top: 12px;
	font-size: 16px;
	font-weight: 500;
	line-height: 32px;
}
.HomeView__subHeader a {
	text-decoration: underline;
}
.HomeView__onboarding {
	margin-top: 7px;
	padding: 27px 12px 30px;
	border-radius: 4px;
	background-color: #f0f3f4;
}
.HomeView__onboardingFeature {
	margin: 0 8px;
	padding: 0 36px;
}
.HomeView__dividerVertical {
	margin: 7px 0 4px;
	max-width: 1px;
	padding: 0;
	background-color: #979797;
}
.HomeView__dividerHorizontal {
	margin: 0 25px;
	height: 1px;
	width: 100%;
	padding: 0;
	background-color: #979797;
}
.HomeView__plus {
	margin-top: 22px;
	padding: 22px 12px;
	background-color: #f0f3f4;
	border-radius: 4px;
}
.HomeView__plusFeature {
	padding: 0 36px;
}
.HomeView__featureIcon {
	height: 50px;
	width: 50px;
	margin: 0 24px;
	background-repeat: no-repeat;
	background-position: center center;
}
.HomeView__onboardingFeature.feature-tutorial .HomeView__featureIcon {
	background-image: buildIconWand(#4a4a4a, #daf4ff);
}
.HomeView__onboardingFeature.feature-tutorial-complete .HomeView__featureIcon {
	width: 100px;
	margin: 0 0 0 50px;
	background-image: buildIconWandCheck(#4a4a4a, #daf4ff, #1dafed);
}
.HomeView__onboardingFeature.feature-setup .HomeView__featureIcon {
	background-image: buildIconClipboard(#4a4a4a, #daf4ff);
}
.HomeView__onboardingFeature.feature-setup-complete .HomeView__featureIcon {
	width: 100px;
	margin: 0 0 0 50px;
	background-image: buildIconClipboardCheck(#4a4a4a, #daf4ff, #1dafed);
}
.HomeView__featureIcon.feature-plus {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -25px;
	height: 46px;
	background-image: buildIconGhosteryPlus(#4a4a4a, #daf4ff);
	background-size: contain;
}
.HomeView__featureTitle {
	text-align: center;
	font-size: 18px;
	padding: 22px 0 10px;
}
.HomeView__featureText {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
}
.HomeView__featureButton {
	margin: 0;
}
.HomeView__onboarding .HomeView__featureButton {
	margin-top: 26px;
	min-width: 130px;
}
@media only screen and (max-width: 960px) {
	.HomeView__plus .HomeView__featureButton {
		margin-top: 14px;
	}
	.HomeView__header img {
		margin: 0 0 20px 0;
	}
	.HomeView__header h1,
	.HomeView__headerTagline {
		text-align: center;
	}
	.HomeView__onboardingFeature.feature-tutorial,
	.HomeView__onboardingFeature.feature-tutorial-complete {
		margin: 12px 0 40px;
	}
	.HomeView__onboardingFeature.feature-setup,
	.HomeView__onboardingFeature.feature-setup-complete {
		margin: 35px 0 15px;
	}
}

.PlusPromoModal__content {
	position: relative;
	width: 646px;
	height: 553px;
	background-color: #f7f7f7;
	border: 1px solid #930194;
	z-index: 10;
}

.PlusPromoModal__thanks-for-download {
	padding-top: 38px;
	font-size: 24px;
	font-weight: bold;
}

.PlusPromoModal__choose-your-plan {
	padding-top: 10px;
	font-size: 18px;
	font-weight: 500;
}

.PlusPromoModal__option-header {
	margin-top: 10px;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
}

.PlusPromoModal__price-text {
	text-align: center;
}

.PlusPromoModal__currency-sign {
	font-size: 30px;
	font-weight: bold;
}

.PlusPromoModal__amount {
	vertical-align: middle;
	font-size: 58px;
}

.PlusPromoModal__per-month {
	vertical-align: sub;
	font-size: 18px;
	font-weight: bold;
}

.PlusPromoModal__basic-box {
	float: left;
	margin-left: 55px;
	width: 240px;
	height: 298px;
	border: solid 3px #1dafed;
	background-color: #ffffff;

	.PlusPromoModal__option-header,
	.PlusPromoModal__price-text,
	.PlusPromoModal__amount {
		color: #1dafed;
	}
}

.PlusPromoModal__plus-box {
	float: right;
	margin-right: 55px;
	width: 240px;
	height: 298px;
	border-style: solid;
	border-width: 3px;
	border-image-source: linear-gradient(39deg, #f2daa2, #eab968);
	border-image-slice: 1;

	.PlusPromoModal__option-header,
	.PlusPromoModal__price-text,
	.PlusPromoModal__amount {
		color: #ebbf73;
	}
}

// Firefox Font Size Override and Image Size Override
@-moz-document url-prefix() {
	.HomeView--firefoxFontSize {
		font-size: 75%;
	}
	.HomeView--firefoxImageSize {
		height: 113.875px;
	}
	@media only screen and (max-width: 740px) {
		.HomeView--firefoxImageSize {
			min-width: 126px !important;
			max-width: 146px !important;
		}
	}
}
