<!DOCTYPE html>
<!--
 * Ghostery Onboarding
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2022 Ghostery, GmbH. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#00AEF0" />
		<title>Welcome to Ghostery</title>
		<script src="../../dist/onboarding.js" async type="module"></script>
		<link rel="stylesheet" href="../../dist/css/onboarding.css" />
	</head>
	<body></body>
</html>
