.PlanView__yourPrivacyPlan {
	margin: auto;
	font-size: 24px;
	display: flex;
	justify-content: center;
}

.PlanView__subtitle {
	margin-top: 12px;
	display: flex;
	justify-content: center;
	font-size: 18px;
}
.PlanView__searchPromoContainer {
	width: 354px;
	height: 381px;
	margin: 48px auto 0 auto;
	border-radius: 4px;
	border: solid 4px #00aef0;
}

.PlanView__searchLogo {
	height: 37px;
	width: 193px;
	margin: 65px auto 0 auto;
	background-image: url('/app/images/hub/PlanView/search.svg');
}

.PlanView__adFree {
	margin: 16px auto 0 auto;
	color: #b8860b;
	font-size: 18px;
	line-height: 32px;
	font-weight: 600;
	width: 220px;
	text-align: center;
}

.PlanView__adFreePromo {
	margin: auto;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
}

.PlanView__adFreePromoDescription {
	margin: 16px auto 0 auto;
	height: 88px;
	width: 250px;
	font-size: 16px;
	line-height: 1.38;
	text-align: center;
	color: #4a4a4a;
}

.PlanView__searchCTAButton {
	margin: 48px auto 0 auto;
	height: 44px;
	width: 162px;
	padding: 7.7px 14px;
	line-height: 22px;
	background: linear-gradient(
		45deg,
		#ff7e74 50%,
		#00aef0
	);
	background-size: 200% 100%;
	background-position: 100% 50%;
	transition: 0.25s all;
	border: none;
	&:hover {
		background-position: 0% 50%;
		transition: 0.25s all;
	}
	color: #FFF;
	font-size: 14.1px;
	font-weight: 700;
	border-radius: 3.5px;
	text-align: center;
	line-height: 2.05;
	cursor: pointer;
}

.PlanView__seeAllPlans {
	margin-top: 48px;
	display: flex;
	justify-content: center;
	color: #00aef0;
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
}

.PlanView__plansContainer {
	margin-top: 100px;
}

.PlanView__arrowDown {
	margin: 15px auto 0 auto;
	height: 12px;
	width: 12px;
	transform: rotate(45deg);
	border-left: 2px solid #00aef0;
	border-top: 2px solid #00aef0;
	cursor: pointer;
}
