<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Products</key>
	<array>
		<string>com.ghostery.subscription.plus.monthly</string>
		<string>com.ghostery.subscription.plus.yearly</string>
	</array>
</dict>
</plist>
