.overview {
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;

	.buttons-wrapper {
		padding-top: 65px;

		.button {
			min-width: 180px;
			background-color: $white;
			border: 1px solid #ccc;

			& > span {
				padding-left: 20px;
				background-repeat: no-repeat;
				background-position: left center;
				color: $tundora;
			}

			&.changed {
				& > span {
					color: $white;
				}
			}

			&.trust-site-btn {

				& > span {
					background-image: buildIconTrust($button-dark-grey);
				}

				&.changed {
					background-color: #9ecc42;
					border-color: #9ecc42;

					& > span {
						background-image: buildIconTrust($button-white);
					}
				}
			}

			&.restrict-site-btn {

				& > span {
					background-image: buildIconRestrict($button-dark-grey);
				}

				&.changed {
					background-color: #e74055;
					border-color: #e74055;

					& > span {
						background-image: buildIconRestrict($button-white);
					}
				}
			}

			&.pause-resume-btn {

				& > span {
					background-image: buildIconPause($button-dark-grey);

					&:last-child {
						display: none;
					}
				}

				&.changed {
					background-color: $ghosty-blue;
					border-color: $ghosty-blue;

					& > span {
						background-image: buildIconResume($button-dark-grey);

						&:first-child {
							display: none;
						}

						&:last-child {
							display: inline-block;
						}
					}
				}
			}
		}
	}

	@media screen and (orientation: landscape) {
		.chart-wrapper {
			display: none;
		}
	}
}
