/**
 * Settings Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2020 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.Settings#content-settings {
	position: relative;
	height: 100%;
	width: 100%;

	.SettingsHeader {
		height: $tab--nav-height;
		line-height: $tab--nav-height;
		background-color: $ghosty-blue;
		text-align: center;
		position: relative;
		@include prefix('box-shadow', '3px 2px 10px rgba(0,0,0,0.15)');

		.SettingsHeader__icon {
			position: absolute;
			left: 0;
			height: 14px;
			width: 10px;
			padding: 8px 10px;
			margin: 10px;
			line-height: 0;
			cursor: pointer;
		}

		.SettingsHeader__text {
			color: $white;
			font-size: 16px;
			font-weight: 500;
		}
	}

	.Settings__link {
		margin: 16px 10px;
		color: #4A4A4A;
		font-size: 16px;
		font-weight: 700;
	}

	.s-trust-restrict-panel {
		left: 0;
		width: 100%;
		border-left: none;

		.s-site, .s-site:hover {
			background-color: $white;

			.s-site-x-container {
				@extend %pointer;
				background: url('../../app/images/panel/icon-trust-restrict-x.svg') no-repeat center center;
				background-size: 12px 12px;
				height: 32px;
				width: 32px;
			}
		}

		.s-site-name {
			color: #4a4a4a;
			font-size: 13px;
			line-height: 35px;
		}

		.s-site-description span {
			font-size: 13px;
		}

		.s-sites-input-box input {
			height: 35px;
			font-size: 13px;
		}

		.s-sites-input-icon {
			height: 20px;
			width: 20px;

			&::before {
				height: 20px;
				width: 20px;
				background-position: center;
				background-size: 18px 18px;
				background-repeat: no-repeat;
			}
		}
	}

	.s-tabs-panel {
		left: 0;
		width: 100%;
		border-left: none;

		h3 {
			font-size: 16px;
			padding-top: 10px;

			&.s-special {
				max-width: 100%;
			}
		}

		h5 {
			font-size: 14px;
			max-width: 100%;
		}

		.s-option-group {
			.s-checkbox-label {
				margin-left: 24px;
				max-width: 100%;

				span {
					font-size: 14px;
					line-height: 16px;
				}
			}

			.s-square-checkbox input[type="checkbox"] + label {
				margin-left: 24px;
				font-size: 14px;
				line-height: 16px;

				&::before {
					height: 14px;
					width: 14px;
				}
			}
		}
	}
}
