/**
 * Tabs Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2020 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.Tabs__component {
	.Tabs__navigation {
		list-style: none;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		background-color: $ghosty-blue;
		@include prefix('box-shadow', '3px 2px 10px rgba(0,0,0,0.15)');
	}
	.Tab__navigation_item {
		flex-grow: 1;
		flex-basis: 0;
		text-align: center;
		min-height: $tab--nav-height;
		cursor: pointer;
	}
	.Tab__navigation_item.Tab--active {
		border-bottom: 2px solid $white;
		@include prefix('animation', 'tab--background-animation 800ms cubic-bezier(0.4, 0, 1, 1) alternate 1');
	}
	.Tab__navigation_link {
		padding: 0 10px 2px;
		color: $white;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		opacity: 0.8;
		@include prefix('transition', 'opacity 300ms ease-in');
	}
	.Tab__navigation_link.Tab--active {
		padding-bottom: 0;
		opacity: 1;
	}

	.Tabs__active_content {}
}
