/**
 * Sass Variables
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2020 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// CSS Properties - ToDo: Update by BEMifying
$tracker-menu-item-width: 60px;
$tracker-height: 50px;
$fixed-menu-item-height: 50px;
$fixed-menu-header-height: 50px;
$tab--nav-height: 50px;

// Colors
$ghosty-blue:						#00AEF0;
$ghosty-blue--lighter:	#28C4FF;
$white:									#FFFFFF;
$tundora:								#4A4A4A;
$button-trust:					#9FCA4C;
$button-restrict:				#BC4A4B;
$button-block:					#E44258;
$atlantis:							#9ECC42;
$red:										#E74055;

// Acccordion Colors - ToDo: Update and Remove?
$button-white:					ffffff;
$button-blue:						1DAFED;
