/**
 * BlockSettingsView Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2021 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */


.BlockSettingsView__container {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	line-height: 2.33;
	color: $tundora;
	margin: 45px auto 83px auto;
}

.BlockSettingsView__relativeContainer {
	position: relative;
}

.BlockSettingsView__caret.left {
	margin: 7px auto 0 auto;
    height: 10px;
    width: 10px;
    border-left: 2px solid $tundora;
    border-top: 2px solid $tundora;
	cursor: pointer;
	transform: rotate(-45deg);
}

.BlockSettingsView__backContainer {
	position: absolute;
	display: flex;
	width: 68px;
	margin-top: 60px;
	@include breakpoint(xlarge down) {
		margin-top: 22px;
	}
	.BlockSettingsView__back {
		margin-top: 8px;
		font-size: 16px;
		color: $tundora;
		text-decoration: underline;
	}
}

.BlockSettingsView__title {
	font-size: 24px;
	font-weight: 500;
	line-height: 2.33;
	text-align: center;
	@include breakpoint(xxlarge down) {
		max-width: 580px;
		margin: auto;
	}
}

.BlockSettingsView__subtitle {
	margin-bottom: 47px;
	text-align: center;
}

.BlockSettingsView_formBlock {
  	width: 800px;
	text-align: left;
}

.BlockSettingsView__ctaButton {
	display: flex;
	justify-content: center;
	margin: auto;
	min-height: 44px;
	width: 162px;
	padding: 7.7px 14px;
	line-height: 22px;
	background: linear-gradient(
		45deg,
		#ff7e74 50%,
		#00aef0
	);
	background-size: 200% 100%;
	background-position: 100% 50%;
	transition: 0.25s all;
	border: none;
	&:hover {
		background-position: 0% 50%;
		transition: 0.25s all;
	}
	color: #FFF;
	font-size: 14.1px;
	font-weight: 700;
	border-radius: 3.5px;
	text-align: center;
	line-height: 2.05;
	cursor: pointer;
}

.BlockSettingsView_question {
	font-weight: 500;
}

.BlockSettingsView__radioButtonContainer {
	padding: 11px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.BlockSettingsView_answerBlock {
	display: flex;
	align-items: center;
}

.BlockSettingsView_checkboxBlock {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.BlockSettingsView_checkbox {
	width: 20px;
	height: 20px;
	padding: 0;
	margin-right: 14px;
}

.BlockSettingsView__infoIcon {
	width: 18px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/app/images/hub/setup/info.svg');
	margin-left: 8px;
}

.BlockSettingsView_questionBlock {
	display: flex;
}
