* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: dark;
    --spacing: 5px;
}

* {
    box-sizing: content-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 10px;
    height: 100%;

    font: -apple-system-short-body;
    text-align: center;
    background-color: #2f3136;
    color: #dad3d3;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

strong {
    color: white;
}

img {
    margin-bottom: 20px;
}

a {
    cursor: pointer;
}

p {
    margin: var(--spacing) 0px;
    padding: 0px;
}

button {
    background-color: #00aef0;
    padding: 16px 29px 14px 29px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
    border: 0;
    display: inline-block;
    cursor: pointer;
    line-height: inherit;
    margin: var(--spacing) 0px;
    display: block;
}

.help a, .help a:visited {
    color: #00aef0;
    text-decoration: none;
}

.disabled {
    color: #cc3333;
    font-weight: bold;
    font-style: normal;
}

.subscription {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.subscription button {
    text-transform: uppercase;
}
