## Build Files
dist/
build/

## Development Files
*.swp
*.pem
/Makefile_
/test/output.html

## Translation Files
.ltk
tools/i18n_results
tools/token_results

## Common
common/

## Tools
tools/amo/*.zip

## Jest
coverage/

## Assets
databases/trackerdb.engine.dat
