# Ghostery CODEOWNERS
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

# Core Ghostery team
*       @ghostery/extension

# CMP / Metrics / WebRequest
/src/classes/ABTest.js @wlycdgr
/src/classes/CMP.js @christophertino
/src/classes/EventHandlers.js @christophertino
/src/classes/Metrics.js @wlycdgr
/src/classes/PolicySmartBlock.js @christophertino
/src/classes/Conf.js @christophertino
/src/classes/ConfData.js @christophertino
/src/classes/PanelData.js @wlycdgr

# Background
/src/background.js @christophertino

# The Ghostery Hub
/app/hub/ @benstrumeyer

# Shared Components
/app/shared-components @wlycdgr

# Build Tools
.eslintrc.js @christophertino
babel.config.js @christophertino
webpack.config.js @christophertino

# Unit Tests
/test/ @christophertino
