:root {
  --text: #838B90;
  --black: #252525;
  --ghostery: #00AEF0;
  --deep-blue: #0D8FE7;
}

body, button {
  font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif !important;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: var(--text);
  height: 100%;
}
