/**
 * Setup Human Web View Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Setup Human Web View
.SetupHumanWeb__header {
	color: #4a4a4a;
	font-size: 20px;
	line-height: 38px;
	margin: 15px 15px 60px;
}
.SetupHumanWeb__header a {
	color: #00aef0;
}
.SetupHumanWeb__label {
	color: #4a4a4a;
	font-size: 14px;
	cursor: pointer;
}
@media only screen and (max-width: 960px) {
	.SetupHumanWeb {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.SetupHumanWeb__header {
		text-align: center;
	}
}
@media only screen and (max-width: 740px) {
	.SetupHumanWeb__header {
		font-size: 16px;
	}
}
