/**
 * Log In View Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Log In View
.ForgotPasswordView {
	margin-top: 40px;
	padding-bottom: 40px;
}
.ForgotPasswordView--addPaddingTop {
	padding-top: 40px;
}
.ForgotPasswordView__inputLabel {
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
	color: #4a4a4a;
	&.error {
		color: #e74055;
	}
}
.ForgotPasswordView__asterisk {
	display: none;
	&.error {
		display: inline;
		color: #e74055;
	}
}
.ForgotPasswordView__inputBox {
	font-size: 14;
	line-height: 24px;
	color: #4a4a4a;
	margin-bottom: 35px;
	width: 456px;

	// Foundation Overrides
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #c8c7c2;
}
.ForgotPasswordView__inputBox.error {
	margin-bottom: 8px;
	border-color: #e74055;
}
.ForgotPasswordView__inputBox:focus {
	// Foundation Overrides
	box-shadow: none;
	border-color: #4a4a4a;
}
.ForgotPasswordView__inputError {
	font-size: 12;
	line-height: 14px;
	color: #e74055;
	margin-bottom: 13px;
	font-style: italic;
}
.ForgotPasswordView__link {
	font-size: 14px;
	line-height: 30px;
	margin: 4px 0 0 40px;
}
.ForgotPasswordView__button {
	min-width: 180px;
	.loader {
		display: none;
	}
	&.loading {
		pointer-events: none;
		.loader {
			display: inline-block;
			height: 12px;
			width: 12px;
		}
		.title {
			display: none;
		}
	}
	&:focus {
		outline: 0;

		.loader:after {
			background: #760176;
		}
	}
}
.loader {
	font-size: 10px;
	text-indent: -9999em;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #ffffff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #930194;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@media only screen and (max-width: 740px)  {
	.ForgotPasswordView__header {
		flex-direction: column;
	}
}
