@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html {
  /* Variables */
  --ui-color-gray-900: #202c44;
  --ui-color-gray-500: #6d778e;
  --ui-color-gray-400: #9ba3b4;
  --ui-color-gray-300: #c3cad9;
  --ui-color-gray-200: #dfe3eb;
  --ui-color-gray-100: #f0f2f7;
  --ui-color-white: white;

  --ui-color-primary-700: #0077cc;
  --ui-color-primary-500: #00aef0;
  --ui-color-primary-300: #9adeff;
  --ui-color-primary-200: #daf3ff;
  --ui-color-primary-100: #ebf7fd;

  --ui-color-success-500: #0ab00a;

  --ui-color-danger-500: #f13436;
  --ui-color-danger-100: #ffecec;

  --ui-font-family: 'Inter', sans-serif;
  --ui-font-family-label: var(--ui-font-family);

  --ui-font-label-l: 600 16px / 20px var(--ui-font-family);
  --ui-font-label-m: 600 14px / 18px var(--ui-font-family);
  --ui-font-label-s: 600 12px / 16px var(--ui-font-family);

  --ui-font-body-l: 400 16px / 20px var(--ui-font-family);
  --ui-font-body-m: 400 14px / 18px var(--ui-font-family);
  --ui-font-body-s: 400 12px / 16px var(--ui-font-family);

  /* UI components overwrites */
  --ui-text-color-heading: var(--ui-color-gray-900);

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  /* Global styles */
  color: var(--ui-color-gray-900);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media screen and (height: 600px) {
  html,
  body {
    max-height: 100vh;
  }
}

body {
  min-width: 375px;
  -webkit-user-select: none;
  user-select: none;
  background: var(--ui-color-white);
}

button,
label,
input {
  font-family: inherit !important;
}
