/**
 * Exit Button Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Exit Button
.ExitButton__exit {
	position: absolute;
	top: 0;
	right: 0;
	margin: 18px 33px;
	padding: 11px 13px;
	border-radius: 3px;
}
.ExitButton__exit:hover {
	background-color: #efefef;
}
.ExitButton__exitText {
	font-size: 11px;
	color: #4a4a4a;
	margin-right: 15px;
}
.ExitButton__exitIcon {
	height: 15px;
	width: 15px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: buildIconX(#4a4a4a);
}
