/**
 * Cliqz Features Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

@function buildIconAntiTracking($stroke-color) {
	@return url('data:image/svg+xml;charset=US-ASCII,<svg width="50" height="50" xmlns="http://www.w3.org/2000/svg"><g stroke="#{url-friendly-colour($stroke-color)}" stroke-width="2" fill="none"><circle cx="25" cy="25" r="23"/><path d="M25.213 15.032a.721.721 0 0 0-.426 0l-9.149 2.427a.82.82 0 0 0-.638.809c.043 6.514 3.532 12.56 9.532 16.604A.859.859 0 0 0 25 35c.17 0 .34-.043.468-.128 6-4.045 9.49-10.09 9.532-16.604a.82.82 0 0 0-.638-.81l-9.15-2.426z"/></g></svg>');
}

@function buildIconAdBlocking($stroke-color) {
	@return url('data:image/svg+xml;charset=US-ASCII,<svg width="50" height="50" xmlns="http://www.w3.org/2000/svg"><g><circle stroke="#{url-friendly-colour($stroke-color)}" stroke-width="2" fill="none" cx="25" cy="25" r="23"/><path stroke="#{url-friendly-colour($stroke-color)}" stroke-width="2" fill="none" fill-rule="nonzero" transform="translate(14,14)" d="M14.873 1.312l-7.973.07-5.588 5.686.07 7.973 5.686 5.589 7.973-.07 5.589-5.687-.07-7.973-5.687-5.588z"/><path stroke="#{url-friendly-colour($stroke-color)}" stroke-width="2" d="M31.5,18.5 L18.5,31.5"/></g></svg>');
}

@function buildIconSmartBlocking($stroke-color) {
	@return url('data:image/svg+xml;charset=US-ASCII,<svg width="50" height="50" xmlns="http://www.w3.org/2000/svg"><circle stroke="#{url-friendly-colour($stroke-color)}" stroke-width="2" fill="none" cx="25" cy="25" r="23"/><path fill="#{url-friendly-colour($stroke-color)}" d="M31.977 20.24c-.097 1.677-.697 3.156-1.654 4.514-.43.61-.867 1.217-1.285 1.84-.597.887-1.074 1.832-1.258 2.898-.03.175-.141.162-.263.162l-2.525-.001c-.832 0-1.663-.005-2.497.003-.181.002-.246-.05-.283-.238-.197-1.031-.657-1.954-1.241-2.818-.497-.733-1.015-1.454-1.514-2.187A8.257 8.257 0 0 1 18.011 20c-.112-2.82 1.486-5.279 4.185-6.42 3.458-1.462 7.547.004 9.166 3.293.521 1.062.682 2.19.615 3.365zM22.352 32.3v-.63h5.305v.63h-5.305zm4.76 2.681h-4.216c-.508 0-.602-.108-.536-.653h5.28c.075.537-.022.653-.529.653zm6.238-18.576c-1.449-3.169-3.966-4.928-7.385-5.335-2.913-.348-5.446.61-7.511 2.673-2.305 2.306-2.858 5.124-2.19 8.241.351 1.63 1.149 3.046 2.104 4.39.438.617.869 1.243 1.271 1.883.372.593.635 1.241.661 1.946.03.814.008 1.627.008 2.441h.032c0 .676-.001 1.351.002 2.027.006 1.204.952 2.22 2.15 2.3.158.01.21.056.25.214a2.322 2.322 0 0 0 4.524-.007c.034-.14.072-.194.225-.206a2.329 2.329 0 0 0 2.174-2.337c0-1.257.01-2.515-.003-3.774-.011-.941.208-1.816.706-2.61.402-.64.832-1.268 1.274-1.88 1.263-1.757 2.155-3.653 2.323-5.844.109-1.423-.018-2.816-.615-4.122z"/><path stroke="#{url-friendly-colour($stroke-color)}" stroke-width="1.5" fill="none" d="M25.096 18.214a.324.324 0 0 0-.192 0l-4.117 1.092a.37.37 0 0 0-.287.364c.02 2.932 1.59 5.652 4.29 7.472a.387.387 0 0 0 .21.058c.077 0 .153-.02.21-.058 2.7-1.82 4.27-4.54 4.29-7.472a.37.37 0 0 0-.287-.364l-4.117-1.092z"/></svg>');
}

@function buildIconDash($stroke-color) {
	@return url('data:image/svg+xml;charset=US-ASCII,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><path stroke="#{url-friendly-colour($stroke-color)}" stroke-width="3" d="M1 5h8"/></svg>');
}

.sub-component.cliqz-features {
	.cliqz-feature {
		display: inline-block;
		width: 150px;
		margin: 0 10px;
	}
	&.smaller .cliqz-feature {
		width: 55px;
		margin: 0 10px;
	}
	&.smaller.condensed .cliqz-feature {
		width: 40px;
		margin: 0 0 5px;
		.count {
			line-height: 14px;
		}
		.icon {
			width: 40px;
			height: 40px;
			background-size: 30px 30px;
		}
	}

	.count {
		color: rgba(#c8c7c2, 0);
		text-align: center;
		font-size: 14px;
		line-height: 28px;
		font-weight: 600;
		transition: color 0.25s ease-out;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: 10px 10px;
		transition: background-image 0.25s ease-out;
		background-image: buildIconDash(#c8c7c2);
	}
	.active .count {
		color: #1dafed;
		background: none;
	}
	&.inactive .count {
		color: rgba(#dedede, 0);
		background-image: buildIconDash(#dedede);
	}
	&.inactive .active .count {
		color: #a4d4f2;
		background: none;
	}

	.icon {
		margin: 0 auto;
		height: 50px;
		width: 50px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50px 50px;
		transition: background-image 0.25s ease-out;
	}
	.anti-tracking .icon { background-image: buildIconAntiTracking(#c8c7c2); }
	.active.anti-tracking .icon { background-image: buildIconAntiTracking(#1dafed); }
	&.inactive .anti-tracking .icon { background-image: buildIconAntiTracking(#dedede); }
	&.inactive .active.anti-tracking .icon { background-image: buildIconAntiTracking(#a4d4f2); }

	.ad-blocking .icon { background-image: buildIconAdBlocking(#c8c7c2); }
	.active.ad-blocking .icon { background-image: buildIconAdBlocking(#1dafed); }
	&.inactive .ad-blocking .icon { background-image: buildIconAdBlocking(#dedede); }
	&.inactive .active.ad-blocking .icon { background-image: buildIconAdBlocking(#a4d4f2); }

	.smart-blocking .icon { background-image: buildIconSmartBlocking(#c8c7c2); }
	.active.smart-blocking .icon { background-image: buildIconSmartBlocking(#1dafed); }
	&.inactive .smart-blocking .icon { background-image: buildIconSmartBlocking(#dedede); }
	&.inactive .active.smart-blocking .icon { background-image: buildIconSmartBlocking(#a4d4f2); }

	.feature-name {
		color: #c8c7c2;
		text-align: center;
		font-size: 11px;
		line-height: 26px;
		font-weight: 600;
		transition: color 0.25s ease-out;

		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.active .feature-name { color: #1dafed; }
	&.inactive .feature-name { color: #dedede; }
	&.inactive .active .feature-name { color: #a4d4f2; }
	&.smaller .feature-name { display: none; }

	.cliqz-feature.clickable:hover {
		.count { background-image: buildIconDash(#a4a4a4); }
		&.anti-tracking .icon { background-image: buildIconAntiTracking(#a4a4a4); }
		&.ad-blocking .icon { background-image: buildIconAdBlocking(#a4a4a4); }
		&.smart-blocking .icon { background-image: buildIconSmartBlocking(#a4a4a4); }
		.feature-name { color: #a4a4a4; }
	}
	.cliqz-feature.active.clickable:hover {
		.count {
			color: #0093bd;
			background: none;
		}
		&.anti-tracking .icon { background-image: buildIconAntiTracking(#0093bd); }
		&.ad-blocking .icon { background-image: buildIconAdBlocking(#0093bd); }
		&.smart-blocking .icon { background-image: buildIconSmartBlocking(#0093bd); }
		.feature-name { color: #0093bd; }
	}
}
