/**
 * Settings Panel Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 * 
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.s-hide {
	display: none;
}

#content-settings {
	position: absolute;
	height: 479px;
	width: 580px;
	font-weight: normal;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	color: #4A4A4A;
	margin: 0;
	padding: 0;
	text-size-adjust: 100%;
	box-sizing: content-box;
	overflow: hidden;

	@import './partials/_settings_menu';

	.s-blocking-trk {
		padding: 13px;
	}
	.s-trk-svg-right {
		float: right;
	}
	.s-clear-right {
		float: right;
	}
	.s-tabs-panel {
		border-left: 1px solid #CBD4D7;
		height: 100%;
		left: 232px;
		overflow: hidden;
		padding: 15px 0;
		position: relative;
		transition: all 0.5s ease;
		width: 350px;
		%s-tooltip {
			&:hover:before {
				white-space: normal;
				width: 150px;
				font-size: 10px;
				text-align: left;
			}
		}
		
		.s-tab-title {
			font-weight: 400;
			font-size: 18px;
			color: #5F7C86;
		}
		.s-tooltip-up {
			@extend %s-tooltip;
			@extend %g-tooltip-up-left;
		}
		.s-tooltip-down {
			@extend %s-tooltip;
			@extend %g-tooltip-down-left;
		}
		 .s-tooltip-down-click-to-play-img {
			@extend .s-tooltip-down;
			&:hover:before {
				padding-bottom: 32px;
				background-image: url('../../app/images/panel/click-to-play.svg');
				background-repeat: no-repeat;
				background-position: center bottom 5px;
				background-size: 39px 22px;
			}
		}
		.s-vgap-26 {
			display: block;
			height: 26px;
		}
		.s-vgap-20 {
			display: block;
			height: 20px;
		}
		.s-vgap-22 {
			display: block;
			height: 22px;
		}
		.s-vgap-4 {
			display: block;
			height: 4px;
		}

		.s-vgap-46 {
			display: block;
			height: 46px;
		}
		select {
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 16px;
			font-size: 12px;
			font-stretch: normal;
			font-style: normal;
			font-variant-caps: normal;
			font-variant-ligatures: normal;
			font-variant-numeric: normal;
			font-weight: normal;
			height: 32px;
			letter-spacing: normal;
			line-height: normal;
			color: rgb(74, 74, 74);
		}
		p, span {
			font-size: 12px;
			margin: 0;
			padding: 0;
			&.s-blue-header {
				@extend %pointer;
				color: #2092BF;
				&.s-import {
					margin-left: 20px;
					&:before {
						@extend .s-import-icon;
						left: 30px;
					}
				}
				&.s-export {
					margin-left: 20px;
					&:before {
						@extend .s-export-icon;
						left: 30px;
					}
				}
			}
			&.s-regular {
				margin-left: 20px;
				margin-right: 8px;
				margin-bottom: 0;
				margin-top: 0;
				max-width: 240px;
				cursor: text;
			}
		}
		.s-side-icon {
			display: inline-block;
			height: 12px;
			width: 12px;
			position: absolute;
		}
		.s-import-icon {
			@extend .s-side-icon;
			content: url("../../app/images/panel/import.svg");
		}
		.s-export-icon {
			@extend .s-side-icon;
			content: url("../../app/images/panel/export.svg");
		}
		h3 {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			color: #4a4a4a;
			margin-top: 0;
			margin-bottom: 11px;
			text-transform: uppercase;
		}
		h5 {
			display: inline-block;
			margin-top: 0;
			margin-bottom: 12px;
			margin-right: 8px;
			margin-left: 0;
			position: relative;
			font-weight: 600;
			font-size: 12px;
			color: #4A4A4A;
			max-width: 240px;
			line-height: 1.4;
		}
		img.s-question {
			top: -5px;
			width: 14px;
			height: auto;
			cursor: default;
			vertical-align: top;
			opacity: 1.0;
		}
		.s-option-group {
			margin-bottom: 12px;
			margin-right: -10px;
			.s-checkbox-label {
				margin-left: 20px;
				margin-right: 8px;
				max-width: 240px;
				font-size: 12px;
				line-height: 14px;
				color: #4A4A4A;
				position: relative;
				vertical-align: baseline;
				@extend %pointer;
				.s-settings-sign-in {
					cursor: pointer;
					color: #2092BF;
				}
			}
			.s-square-checkbox {
				position: relative;
				margin-right: -14px;
				input[type="checkbox"] {
					padding: 0;
					margin-top: 0;
					margin-left: 0;
					margin-right: 0;
					margin-bottom: 16px;
					opacity: 0;
					display: none;
					& + label {
						@extend .s-checkbox-label;
						display: inline-block;
						&::before {
							@extend .s-side-icon;
							margin-right: 15px;
							left: -20px;
							top: 1px;
						}
					}
					&:checked {
						& + label {
							&:before {
								content: url("../../app/images/panel/checkbox-checked.svg");
							}
						}
					}
					&:not(:checked) {
						& + label {
							&:before {
								content: url("../../app/images/panel/checkbox.svg");
							}
						}
					}
					&:disabled {
						& + label {
							cursor: default;
							color: #9B9B9B;
							&:before {
								content: url("../../app/images/panel/checkbox-disabled.svg");
							}
						}
					}
				}
			}
		}
		.s-alert-bubble-options {
			font-size: 12px;
			color: #4A4A4A;
			padding-top: 4px;
			select {
				font-size: 12px;
				width: 245px;
				height: 32px;
				border-radius: 4px;
				border-color: #CCCCCC;
				background-size: 8px 5px;
				-moz-appearance: none;
				-webkit-appearance:none;				
			}
		}
		#select-file {
			visibility: hidden;
			width: 1px;
			height: 1px;
		}
	}
	// TRUST / RESTRICT
	$itemWrapper: 0 13px 0 13px;
	$itemHeight: 32px;
	.s-trust-restrict-panel {
		@extend .s-tabs-panel;
		background-color: $mercury !important;
		.s-trust-restrict-title {
			@extend .s-tab-title;
			margin-top: 12px;
			margin-bottom: 11px;
			text-transform: uppercase;
		}
		.s-trust-restrict-menu {
			display: inline-flex;
			margin: 0;
			line-height: 32px;
			.s-pane-title {
				@extend %pointer;
				background-color: $mercury;
				z-index: 1;
				text-align: center;
				border-radius: 3px 3px 0px 0px;
				border: 1px solid #CCCCCC;
				border-left: none !important;
				padding: 0 10px 0 10px;
				background-color: transparent;
				span {
					font-family: 'Open Sans', sans-serif !important;
					font-weight: bold !important;
					font-size: 11px !important;
					color: #4A4A4A !important;
				}
				&.s-active-pane {
					z-index: 2;
					border-bottom: none;
					background-color: $white !important;
				}
			}
			.s-pane-title-next {
				@extend .s-pane-title;
			}
		}
		.s-sites-pane {
			position: relative;
			padding-top: 17px;
			top: -1px;
			background-color: $white !important;
			border-top: 1px solid #cbd4d7;
			height: 500px;
			overflow: hidden;
		}
		.s-sites-input-box {
			@extend .s-search-box;
			background-color: transparent !important;
			input {
				padding-left: 10px !important;
			}
		}
		.s-sites-input-icon {
			@extend %pointer;
			display: inline-block;
			position: absolute;
			width: 14.5px;
			height: 14.5px;
			top: 50%;
			transform: translateY(-50%);
			right: 8px;
			color: #9B9B9B;
			&::before {
				display: block;
				content: ' ';
				background-image: url('../../app/images/panel/plus.svg');
				background-size: 14.5px 14.5px;
				height: 14.5px;
				width: 14.5px;
			}
		}
		.s-site-description {
			padding: 10px 0;
		}
		.s-callout {
			padding: $itemWrapper;
			color: #4A4A4A;
			background-color: #ffae00;
			display: block;
			min-height: $itemHeight;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.s-sites {
			height: 260px;
			overflow-y: auto;
			overflow-x: hidden;
		}
		.s-site {
			border-top: 1px solid #ccc;
			&:hover {
				background-color: $mercury;
				.s-site-x-container {
					@extend %pointer;
					background: url('../../app/images/panel/icon-trust-restrict-x.svg') no-repeat center center;
					background-size: $itemHeight/4 $itemHeight/4;
					height: $itemHeight;
					width: $itemHeight/4;
				}
			}
			&:last-child {border-bottom:  1px solid #ccc;}
		}
		.s-site-name {
			color: #5F7C86;
			font-size: 11px;
			line-height: $itemHeight;
			margin: 3px 0;
		}
		.s-invisible {
			display: none;
		}
	}
}

#settings-global-blocking {
	.blocking-trackers {
		height: 365px;
	}
	.global-blocking-trk {
		border-top: 1px solid #E8E8E8;
		overflow: hidden;
		.trk-header {
			padding-top: 5px;
			padding-bottom: 5px;
			.trk-title {
				color: #4a4a4a;
				cursor: pointer;
				font-size: 14px;
				font-weight: 400;
				padding-left: 56px;
				text-overflow: ellipsis;
				user-select: none;
				white-space: nowrap;
				-webkit-font-smoothing: antialiased;
			}
		}
		img {
			width: 18px;
		}
		.global-trk-desc {
			color: #333333;
			display: block;
			font-size: 11px;
			line-height: 15px;
			padding-bottom: 10px;
		}
	}
	.blocking-header {
		height: 116px;
		.footer {
			height: 29px;
			margin-top: 2px;
			.columns:last-of-type {
				padding-right: 0;
			}
		}
	}
}

#settings-global-blocking.expanded {
	.blocking-trackers {
		margin-left: 25px;
	}
}