/**
 * Summary Expert Expanded Panel Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 * 
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

#content-summary.expanded.expert {
	width: 70px;
	background-color: #F9F6F6;
	.columns {
		padding-left: 0;
		padding-right: 0;
	}
	.toggleExpert {
		position: static;
		padding: 30px 0;
		margin: 0;
		width: 100%;
		background-position: center;
	}
	.tracker-count-total-expanded-expert {
		text-align: center;
		color: #4a4a4a;
		width: 100%;
		font-size: 24px;
		font-weight: 700;
		display: inline-block;
	}
	#tracker-host {
		display: none;
	}
	.info {
		font-size: 14px;
		.text {
			display: none;
		}
	}
	#controls {
		padding-bottom: 0;
		.blocking-controls {
			border: 0;
			border-top: 1px solid #ccc;
			border-collapse: collapse;
		}
		.blocking-controls, .cliqz-controls {
			width: 100%;
			height: 40px;
			margin: 0;
			padding: 0;
			border-radius: 0px;
			text-align: center;
			svg {
				float: none !important;
				margin: 0px;
			}
			> div {
				position: static;
				margin: 0 auto;
			}
		}
		#cliqz-controls {
			height: auto;
			width: 100%;
			border: none;
			> .row {
				max-width: 100%;
				margin: 0;
			}
			.columns {
				width: 100%;
				max-width: none;
				flex: none;
			}
			button {
				height: 30px;
				width: 30px;
				background-size: auto 20px;
				margin: 0 0 15px 0;
			}
		}
		#ghostery-controls {
			padding-top: 0;
			> .row {
				max-width: 100%;
				margin: 0;
				 > .columns {
					padding: 0;
				}
			}
			button {
				border: 0;
				border-radius: 0;
				border-top: 1px solid #ccc;
				margin: 0;
				position: relative;
				height: 40px;
				&.blocking-controls {width: 100%;}
				&.active:hover .undo, .title, .select-title {
					display: none;
				}
				.icon {
					margin: 0 auto;
					left: 0;
					right: 0;
				}
				&.controls-pause .icon {
					margin: 0px 20px;
					left: 0;
					&.resume {
						margin: 6px 14px;
					}
				}
				&.select-button.right-button {
					border-left: 1px solid #ccc;
				}
			}
			.select-button {width: 100%;}
		}
	}
}
