body {
  font: 16px Arial;
}

section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1em 0;
}

section > * {
  display: block;
  width: 40px;
  height: 40px;
}

iframe {
  width: 100%;
  height: 100px;
  border: none;
}
