/**
 * Account Panel Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

/* REUSABLE CLASSES */
[type='text'], [type='password'], [type='date'], [type='datetime'],
[type='datetime-local'], [type='month'], [type='week'], [type='email'],
[type='number'], [type='search'], [type='tel'], [type='time'],
[type='url'], [type='color'], textarea {
	border-color: #727575;
	margin-top: 6px;
}
label {
	font-weight: 600;
}
.button {
	background-color: $ghosty-blue;
	font-size: 14px;
	font-weight: 600;
	&.cancel {
		@extend %pointer;
		border: none;
		font-weight: 600;
		font-size: 14px;
		color: #2092BF;
	}
	&:not(.hollow) {
		&:hover, &:focus {
			background-color: $ghosty-blue;
		}
	}
}
span.asterisk {
	display: none;
	font-size: 14px;
	margin: 0;
}
p.warning {
	margin: 0;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	font-style: italic;
	color: #CC5F5A;
	opacity: 0;
	@include transition(opacity 0.2s, color 0.2s);
}
.panel-error {
	span.asterisk {display: inline;}
	p.warning {
		opacity: 1;
	}
	input {
		border-color: #E0B4B4;
		background-color: #FFF6F6;
	}
	label {
		color: #CC5F5A;
	}
}
.checkbox-error {
	label {
		color: #a94442;
	}
}

/* SIGNIN PANEL */
#signin-panel {
	margin-top: 50px;
	#login-password{
		margin-top: 15px;
	}
	.account-signin-buttons-container {
		margin-bottom: 20px;
		margin-top: 20px;
		#signin-button {
			width: 126px;
		}
	}
	.account-panel-action {
		font-size: 14px;
		font-weight: 500;
		a {color:#333333;}
	}
}

.button {
	.loader {
		display: none;
	}
	&.loading {
		pointer-events: none;
		.loader {
			display: inline-block;
			height: 12px;
			width: 12px;
		}
		.title {
			display: none;
		}
	}
}

.loader {
	font-size: 10px;
	text-indent: -9999em;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #ffffff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #00AEF0;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* FORGOT PASSWORD PANEL */
#forgot-password-panel{
	margin-top: 75px;
	h4#forgot-password-message {
		font-size:14px;
		font-weight: normal;
		color: #333333;
		margin-bottom: 50px;
	}
	#forgot-email {
		&.not-found-error {
			p.warning.invalid-email {
				opacity: 0;
			}
		}
		&.invalid-email {
			p.warning.not-found-error {
				opacity: 0;
			}
		}
	}
	.buttons-container {
		margin-top: 60px;
		#send-button {
			width:126px;
		}
	}
}

/* CREATE ACCOUNT PANEL */
#create-account-panel {
	margin-top: 10px;
	input {
		margin-bottom: 5px;
		margin-top: 5px;
	}
	p.warning {}
	#create-account-first-name, #create-account-last-name {
		margin-bottom: 15px; //compensation for no .warning elements
	}
	#create-account-password {
		margin-bottom: 10px;
		p.warning {
			#password-length-requirement,
			#password-characters-requirement {
				display: none;
				&.show {
					display: inline-block;
				}
			}
		}
	}
	#create-account-promotions {
		margin-bottom: 10px;
		label {
			font-size: 11px;
			font-weight: 500;
		}
	}
	#create-account-legal-consent-checkbox {
		margin-bottom: 10px;
		label {
			font-size: 11px;
			font-weight: 500;
			vertical-align: top;
			margin-right: 0;
			max-width: 94%;
		}
	}
	#create-account-privacy-container {
		p#accept-privacy-label {
			font-size: 12px;
			line-height: 16px;
			font-weight: 400;
		}
	}
	#account-creation-buttons .button {
		margin-bottom: 0;
		width: 150px;
	}
}

/* SIGNIN SUCCESS PANEL */
#signin-success-panel {
	margin-top: 75px;
	h3 {
		color: #394045;
		font-size: 18px;
		font-weight: 400;
	}
	.big-ghosty {
		background: url('../../app/images/panel/ghosty_signin.png') no-repeat center center;
		background-size: auto 73px;
		height: 115px;
	}
	p {
		color: #9B9B9B;
		font-size: 13px;
		font-weight: 300;
		line-height: 21px;
	}
	#view-trackers-button {margin-top: 30px;}
}
