/**
 * Blocking Tracker Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.blocking-trk {
	border-top: 1px solid #e8e8e8;
	margin-right: 26px;
	margin-left: 16px;
	&:first-child {
		border-top: none;
	}
	.trk-header {
		height: 54px;
		.trk-name {
			@extend %pointer;
			font-size: 14px;
			line-height: 25px;
			font-weight: 400;
			color: #4a4a4a;
			@extend %nowrap;
			&.is-whitelisted {
				color: #00AEF0;
			}
		}
		.trk-cliqz-stats-outer-container {
			// prevent jitter from breaking to new line
			// if all three of cookies fingerprints and ads are present
			// and we hover over the ad icon while the cookies & fingerprints section is expanded
			white-space: nowrap;

			font-size: 10px;
			font-family: "Open Sans", "Roboto", Arial, Helvetica, sans-serif;
			font-weight: 600;
		}
		.trk-cliqz-stats-icon {
			// vertical alignment with text label
			position: relative;
			top: -2px;

			display: inline-block;
			padding-right: 6px;
			.ads-icon.default {
				fill: #1DAFED;
				stroke: #1DAFED;
			}
			.cookies-and-fingerprints-icon.default {
				stroke: #1DAFED;
			}
		}
		.trk-cliqz-stat {
			color: #1dafed;
			text-transform: capitalize;
			display: inline-block;
			max-width: 0px;
			padding-right: 0px;
			transition: max-width 0.6s, padding 0.6s;
			transition-delay: 0.2s;
			overflow-x: hidden;
			white-space: nowrap;
		}
		.trk-cliqz-stats-container {
			display: inline-block;
		}
		.trk-cliqz-stats-container:hover .trk-cliqz-stat {
			max-width: 100px;
			padding-right: 4px;
		}

		.svg-container {
			height: 20px;
		}
		.warning-image {
			display: block;
			width: 32px;
			height: 25px;
			margin-right: -12px;
			background-size: auto 25px;
			background-repeat: no-repeat;
		}
	}
	.trk-moreinfo {
		.trk-description {
			font-size: 11px;
			line-height: 15px;
			font-weight: 400;
			color: #333333;
			margin-right: 10px;
			padding-bottom: 10px;
			a {
				color: #4a90e2;
			}
		}
		.trk-srcs-title {
			font-size: 11px;
			line-height: 15px;
			font-weight: 600;
			color: #333333;
			padding-bottom: 2px;
		}
		.trk-srcs {
			padding-bottom: 10px;
		}
		.trk-src-link {
			display: block;
			font-size: 10px;
			line-height: 13px;
			font-weight: 400;
			color: #4a90e2;
			margin-right: 10px;
			overflow-y: hidden;
			@extend %nowrap;
			&.unknown {
				margin: 0 10px 0 0;
				color: #4a4a4a;
			}
		}
	}
	svg.blocking-icons {
		display: inline-block;
		margin-left: 2px;
	}
	svg.trust, svg.restrict {
		display: none;
		.border {stroke: #d8d8d8;}
		.background {fill: #f7f7f7;}
		.trust-circle {
			stroke: #9B9B9B;
			display: block;
		}
		.restrict-circle {
			stroke: #9B9B9B;
			display: block;
		}
	}

	.unknown-svg-container {
		position: relative;
		top: 3px;
		width: 42px;
		display: flex;
		align-items: center;
		justify-content: space-between;


		&:not(.whitelisted) {
			.cliqz-tracker-trust {
				visibility: hidden;
				cursor: pointer;
				.border { stroke: #d8d8d8; }
				.background { fill: #f7f7f7; }
				.trust-circle { stroke: #9B9B9B; }
			}

			.cliqz-tracker-trust > g > path:nth-child(1) {
				stroke: #00AEF0;
			}
			.cliqz-tracker-trust > g > path:nth-child(2) {
				fill: #00AEF0;
			}
			.cliqz-tracker-scrub > g > .border {
				stroke: #00AEF0;
			}
			.cliqz-tracker-scrub > g > .background {
				fill: #00AEF0;
			}

			.cliqz-tracker-scrub {
				pointer-events: none;
				.background.protected {
					fill: #00AEF0;
				}
				.background.restricted {
					fill: #00AEF0;
				}
			}
		}

		&.whitelisted {
			flex-direction: row-reverse;

			.cliqz-tracker-trust {
				pointer-events: none;
			}
			.cliqz-tracker-scrub {
				visibility: hidden;
				pointer-events: auto;
				cursor: pointer;
				.border { stroke: #d8d8d8; }
				.background { fill: #f7f7f7; }
				.shield { stroke: #9B9B9B; }
			}
		}

		&:hover {
			.cliqz-tracker-trust {
				visibility: visible;
			}
		}

		&.whitelisted:hover {
			.cliqz-tracker-scrub {
				visibility: visible;
			}
		}

		&.siteRestricted {
			pointer-events: none;
		}
	}
}

// SVG icons shared with _blocking_category
svg.blocking-icons {
	@extend %pointer;
	.border {
		fill: none;
		stroke: #d8d8d8;
		stroke-linecap: square;
		stroke-width: 1px;
	}
	.background {
		fill: $white;
		stroke: $white;
		stroke-linecap: square;
		stroke-width: 1px;
	}
	.dash {
		display: none;
		stroke: #9b9b9b;
		stroke-linecap: square;
		stroke-width: 2px;
	}
	.check {
		display: none;
		fill: $white;
	}
	.trust-circle {
		display: none;
		fill: none;
		stroke-width: 1.5px;
		stroke-linecap: square;
	}
	.restrict-circle {
		display: none;
		fill: none;
		stroke-width: 1.5px;
		stroke-linecap: square;
	}
}

.OtherDataPoint__svgGroup {
	padding-top: 5px;
}
