/**
 * Cliqz Features Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

$cliqz-feature--blue: #1dafed;
$cliqz-feature--pale-blue: #a4d4f2;
$cliqz-feature--gray: #c8c7c2;
$cliqz-feature--light-gray: #dedede;

.CliqzFeature {

}

.CliqzFeature__count {
	text-align: center;
	font-size: 14px;
	line-height: 28px;
	font-weight: 600;
	transition: color 0.25s ease-out;
	transition: background-image 0.25s ease-out;
}

.CliqzFeature--inactive .CliqzFeature__count {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 10px 10px;
}

.CliqzFeature--cliqzActive.CliqzFeature--active .CliqzFeature__count {
	color: $cliqz-feature--blue;
	background: none;
}

.CliqzFeature--cliqzActive.CliqzFeature--inactive .CliqzFeature__count {
	color: rgba($cliqz-feature--gray, 0);
	background-image: buildIconDash($cliqz-feature--gray);
}

.CliqzFeature--cliqzInactive.CliqzFeature--active .CliqzFeature__count {
	color: $cliqz-feature--pale-blue;
	background: none;
}

.CliqzFeature--cliqzInactive.CliqzFeature--inactive .CliqzFeature__count {
	color: rgba($cliqz-feature--light-gray, 0);
	background-image: buildIconDash($cliqz-feature--light-gray);
}

.CliqzFeature__icon {
	margin: 0 auto;
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50px 50px;
	transition: background-image 0.25s ease-out;
}

.CliqzFeature--antitrack.CliqzFeature--cliqzActive.CliqzFeature--inactive .CliqzFeature__icon {
	background-image: buildIconAntiTracking($cliqz-feature--gray);
}
.CliqzFeature--antitrack.CliqzFeature--cliqzActive.CliqzFeature--active .CliqzFeature__icon {
	background-image: buildIconAntiTracking($cliqz-feature--blue);
}
.CliqzFeature--antitrack.CliqzFeature--cliqzInactive.CliqzFeature--inactive .CliqzFeature__icon {
	background-image: buildIconAntiTracking($cliqz-feature--light-gray);
}
.CliqzFeature--antitrack.CliqzFeature--cliqzInactive.CliqzFeature--active .CliqzFeature__icon {
	background-image: buildIconAntiTracking($cliqz-feature--pale-blue);
}

.CliqzFeature--adblock.CliqzFeature--cliqzActive.CliqzFeature--inactive .CliqzFeature__icon {
	background-image: buildIconAdBlocking($cliqz-feature--gray);
}
.CliqzFeature--adblock.CliqzFeature--cliqzActive.CliqzFeature--active .CliqzFeature__icon {
	background-image: buildIconAdBlocking($cliqz-feature--blue);
}
.CliqzFeature--adblock.CliqzFeature--cliqzInactive.CliqzFeature--inactive .CliqzFeature__icon {
	background-image: buildIconAdBlocking($cliqz-feature--light-gray);
}
.CliqzFeature--adblock.CliqzFeature--cliqzInactive.CliqzFeature--active .CliqzFeature__icon {
	background-image: buildIconAdBlocking($cliqz-feature--pale-blue);
}

.CliqzFeature--smartblock.CliqzFeature--cliqzActive.CliqzFeature--inactive .CliqzFeature__icon {
	background-image: buildIconSmartBlocking($cliqz-feature--gray);
}
.CliqzFeature--smartblock.CliqzFeature--cliqzActive.CliqzFeature--active .CliqzFeature__icon {
	background-image: buildIconSmartBlocking($cliqz-feature--blue);
}
.CliqzFeature--smartblock.CliqzFeature--cliqzInactive.CliqzFeature--inactive .CliqzFeature__icon {
	background-image: buildIconSmartBlocking($cliqz-feature--light-gray);
}
.CliqzFeature--smartblock.CliqzFeature--cliqzInactive.CliqzFeature--active .CliqzFeature__icon {
	background-image: buildIconSmartBlocking($cliqz-feature--pale-blue);
}

.sub-component.cliqz-features {

	.feature-name {
		color: $cliqz-feature--gray;
		text-align: center;
		font-size: 11px;
		line-height: 26px;
		font-weight: 600;
		transition: color 0.25s ease-out;

		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.active .feature-name { color: $cliqz-feature--blue; }
	&.inactive .feature-name { color: $cliqz-feature--light-gray; }
	&.inactive .active .feature-name { color: $cliqz-feature--pale-blue; }
	&.smaller .feature-name { display: none; }

	&.smaller.condensed .cliqz-feature {
		.count {
			line-height: 14px;
		}
		.icon {
			width: 40px;
			height: 40px;
			background-size: 30px 30px;
		}
	}

	.cliqz-feature.clickable:hover {
		.count { background-image: buildIconDash(#a4a4a4); }
		&.anti-tracking .icon { background-image: buildIconAntiTracking(#a4a4a4); }
		&.ad-blocking .icon { background-image: buildIconAdBlocking(#a4a4a4); }
		&.smart-blocking .icon { background-image: buildIconSmartBlocking(#a4a4a4); }
		.feature-name { color: #a4a4a4; }
	}
	.cliqz-feature.active.clickable:hover {
		.count {
			color: #0093bd;
			background: none;
		}
		&.anti-tracking .icon { background-image: buildIconAntiTracking(#0093bd); }
		&.ad-blocking .icon { background-image: buildIconAdBlocking(#0093bd); }
		&.smart-blocking .icon { background-image: buildIconSmartBlocking(#0093bd); }
		.feature-name { color: #0093bd; }
	}
}
