/**
 * Cliqz Features Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.sub-component.cliqz-features {
	.cliqz-feature {
		display: inline-block;
		width: 150px;
		margin: 0 10px;
	}
	&.smaller .cliqz-feature {
		width: 55px;
		margin: 0 10px;
	}
	&.smaller.condensed .cliqz-feature {
		width: 40px;
		margin: 0 0 5px;
		.count {
			line-height: 14px;
		}
		.icon {
			width: 40px;
			height: 40px;
			background-size: 30px 30px;
		}
	}

	.count {
		color: rgba(#c8c7c2, 0);
		text-align: center;
		font-size: 14px;
		line-height: 28px;
		font-weight: 600;
		transition: color 0.25s ease-out;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: 10px 10px;
		transition: background-image 0.25s ease-out;
		background-image: buildIconDash(#c8c7c2);
	}
	.active .count {
		color: #1dafed;
		background: none;
	}
	&.inactive .count {
		color: rgba(#dedede, 0);
		background-image: buildIconDash(#dedede);
	}
	&.inactive .active .count {
		color: #a4d4f2;
		background: none;
	}

	.icon {
		margin: 0 auto;
		height: 50px;
		width: 50px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50px 50px;
		transition: background-image 0.25s ease-out;
	}
	.anti-tracking .icon { background-image: buildIconAntiTracking(#c8c7c2); }
	.active.anti-tracking .icon { background-image: buildIconAntiTracking(#1dafed); }
	&.inactive .anti-tracking .icon { background-image: buildIconAntiTracking(#dedede); }
	&.inactive .active.anti-tracking .icon { background-image: buildIconAntiTracking(#a4d4f2); }

	.ad-blocking .icon { background-image: buildIconAdBlocking(#c8c7c2); }
	.active.ad-blocking .icon { background-image: buildIconAdBlocking(#1dafed); }
	&.inactive .ad-blocking .icon { background-image: buildIconAdBlocking(#dedede); }
	&.inactive .active.ad-blocking .icon { background-image: buildIconAdBlocking(#a4d4f2); }

	.smart-blocking .icon { background-image: buildIconSmartBlocking(#c8c7c2); }
	.active.smart-blocking .icon { background-image: buildIconSmartBlocking(#1dafed); }
	&.inactive .smart-blocking .icon { background-image: buildIconSmartBlocking(#dedede); }
	&.inactive .active.smart-blocking .icon { background-image: buildIconSmartBlocking(#a4d4f2); }

	.feature-name {
		color: #c8c7c2;
		text-align: center;
		font-size: 11px;
		line-height: 26px;
		font-weight: 600;
		transition: color 0.25s ease-out;

		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.active .feature-name { color: #1dafed; }
	&.inactive .feature-name { color: #dedede; }
	&.inactive .active .feature-name { color: #a4d4f2; }
	&.smaller .feature-name { display: none; }

	.cliqz-feature.clickable:hover {
		.count { background-image: buildIconDash(#a4a4a4); }
		&.anti-tracking .icon { background-image: buildIconAntiTracking(#a4a4a4); }
		&.ad-blocking .icon { background-image: buildIconAdBlocking(#a4a4a4); }
		&.smart-blocking .icon { background-image: buildIconSmartBlocking(#a4a4a4); }
		.feature-name { color: #a4a4a4; }
	}
	.cliqz-feature.active.clickable:hover {
		.count {
			color: #0093bd;
			background: none;
		}
		&.anti-tracking .icon { background-image: buildIconAntiTracking(#0093bd); }
		&.ad-blocking .icon { background-image: buildIconAdBlocking(#0093bd); }
		&.smart-blocking .icon { background-image: buildIconSmartBlocking(#0093bd); }
		.feature-name { color: #0093bd; }
	}
}
