/**
 * Ghostery Brand Colors
 *
 * Imported by default in _settings.scss. Taken from
 * ghostery-component-library v0.2.9
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

/*  GREYS	*/
$black:						#000000; //form_content
$dark-gray:					#111111; //bnkd_top_header
$medium-gray:				#333333; //form_label
$bright-gray:				#394045; //bknd_secondary_nav, $header-color
$pale-sky:					#6E7B86; //secondary_nav_active_tab
$silver-chalice:			#A3A3A3; //form_field_border
$tundora:					#4A4A4A; //body-font-color
$light-gray:				#A6A6A6; //top_nav, button_disabled
$slate-gray:				#5F7B85; //$subheader-color
$silver: 					#BABABA; //button_alt_font_color
$mercury: 					#E5E5E5; //footer_border, $hr-border, $input-background-disabled
$manatee:					#99999D;
$porcelain:					#F0F3F4;
$whisper:					#F7F8FB; //body-background
$alabaster: 				#F7F7F7; //accordions
$white:						#FFFFFF;

/*  BLUES	*/
$ghosty-blue:				#00AEF0;
$active-blue:				#48ACD3; //top_nav_active_tab
$link-blue:					#2092BF; //primary-color
$button-primary:			#3AA2CF;

/*  MARKETING COLORS */
$red:						#E74055;
$purple: 					#720174;
$dark-purple: 		#5B005C;
$dark-magenta:		#920094;
$sinopia:					#D3451E;
$apple:						#67A73A; //button_special
$caper:						#CEECAF; //success-color
$dell: 						#477219; //callout-success-font-color
$atlantis:					#9ECC42;
$hoki:						#5F7C86;
$mystic:					#E7ECEE; //bknd_third_nav
$zumthor:					#CBD4D7;
$orange:					#FF9000; //secondary-color

$transparent-green: 		rgba($apple, 0.08);
$transparent-red: 			rgba($red, 0.08);

/* ADD PROJECT COLORS HERE */
$gold:						#D4B03B;
$bright-gold: 				#F0E4BC;
