/**
 * Donut Graph Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.DonutGraph--big {
	.DonutGraph__textCountContainer {
		margin-top: -125px;
		height: 120px;
	}

	.DonutGraph__textCount {
		height: 94px;
		font-size: 42px;
		line-height: 90px;
	}
}

.DonutGraph--small {
	.DonutGraph__textCountContainer {
		margin-top: -99px;
		height: 94px;
	}

	.DonutGraph__textCount {
		height: 68px;
		font-size: 28px;
		line-height: 64px;
	}
}

.DonutGraph__tooltipContainer {
	position: relative;
	height: 0;
	width: 0;
}

.DonutGraph__tooltip {
	white-space: nowrap;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s ease-in;
}

.DonutGraph__tooltip--show {
	visibility: visible;
	opacity: 1;
}

.DonutGraph__tooltip::before {
	left: 50%;
	margin-left: -8px;
}

.DonutGraph__textCountContainer {
	text-transform: capitalize;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
	padding: 13px 0;
	color: $tundora;
}

.DonutGraph__textCount {
	font-weight: 700;
}
