/**
 * Ghostery Features Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.GhosteryFeatureButton {
	width: 150px;
	height: 45px;
	line-height: 1.5;
	font-size: 11px;
	margin-bottom: 0;

	transition: background-image 0.25s ease-out,
		background-color 0.25s ease-out,
		border-color 0.25s ease-out,
		box-shadow 0.25s ease-out,
		color 0.25s ease-out;

	&:hover {
		background-color: $ghosty-blue;
	}
}

.GhosteryFeatureButton--inactive {
	color: $tundora;
	border-color: #cccccc;
	background-color: $white;
	box-shadow: inset 0 0 0 0 rgba($white, 0);
}

.GhosteryFeatureButton--active {
	color: $white;
}

.GhosteryFeatureButton--trust.GhosteryFeatureButton--inactive {
	.GhosteryFeatureButton__text {
		background-image: buildIconTrust($tundora);
	}
}

.GhosteryFeatureButton--trust.GhosteryFeatureButton--active {
	border-color: #85b329;
	background-color: $atlantis;
	box-shadow: inset 0px 1px 7px 2px #85b329;

	&:hover {
		background-color: #85b329;
	}

	.GhosteryFeatureButton__text {
		background-image: buildIconTrust($white);
	}
}

.GhosteryFeatureButton--restrict.GhosteryFeatureButton--inactive {
	.GhosteryFeatureButton__text {
		background-image: buildIconRestrict($tundora);
	}
}

.GhosteryFeatureButton--restrict.GhosteryFeatureButton--active {
	border-color: #ce273c;
	background-color: $red;
	box-shadow: inset 0px 1px 7px 2px #ce273c;

	&:hover {
		background-color: #ce273c;
	}

	.GhosteryFeatureButton__text {
		background-image: buildIconRestrict($white);
	}
}

.GhosteryFeatureButton__text {
	padding: 0 10px 0 30px;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 14px 14px;
}

.sub-component.ghostery-features {
	.button-group.inactive {
		.button {
			color: #a4a4a4;
			border-color: #e5e5e5;
			background-color: #ffffff;
			box-shadow: inset 0 0 0 0 rgba($white, 0);
		}
		.button.active.button-trust {
			color: #ffffff;
			border-color: #b8e65c;
			background-color: #b8e65c;
		}
		.button.active.button-restrict {
			color: #ffffff;
			border-color: #ff8da2;
			background-color: #ff8da2;
		}
	}

	.button-group.stacked .button {
		height: 35px;
		margin-bottom: 0;
	}
	.button-group.stacked .button.condensed {
		width: 66px;
		height: 41px;
		.button-text {
			padding: 10px;
			font-size: 9px;
			background-position: center center;
		}
	}

	.button-top {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: 0;
	}

	.button-center {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
