/**
 * Header Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */
#ghostery-header {
	.header-tab-group {
		position: absolute;
		height: 36px;
		width: 280px;
		left: calc(50% - 140px);
	}
	.header-tab {
		cursor: pointer;
		height: 20px;
		width: 140px;
		text-align: center;
		color: $white;
		background-color: #2092bf;
	}
	.header-tab.active {
		color: #4a4a4a;
		background-color: $white;
	}
	.header-tab-text {
		text-align: center;
		width: 100%;
		font-size: 10px;
	}

	.top-bar {
		background-color: $ghosty-blue;
		color: $white;
		padding: 7px 0 7px 15px;
		height: 36px;
		.header-logo {
			height: 21px;
			display: inline-flex;
			.back-arrow {
				display: none;
				&.show-back-arrow {
					@extend %pointer;
					display: inline-flex;
					box-sizing: content-box;
					margin: auto;
					padding-right: 5px;
					width: 8px;
					height: 13px;
					div {
						display: inline-flex;
					}
				}
			}
			.logo-icon {
				width: 75px;
				height: 22px;
				display: inline-flex;
				div {
					display: inline-flex;
				}
			}
		}
		.base-badge {
			@extend %pointer;
			width: 29px;
			height: 20px;
			display: block;
			margin-left: 10px;
		}
		.subscriber-badge {
			@extend .base-badge;
			path {
				fill: $white;
			}
		}
		.non-subscriber-badge {
			@extend .base-badge;
			path {
				fill: $gold;
			}
		}
		.header-kebab {
			@extend %pointer;
			height: 16px;
			width: 34px;
			svg {
				display: block;
				margin: 0 auto;
			}
		}
	}
	.header-helper-text {
		@extend %pointer;
		font-size: 12px;
	}
	.dropdown-pane {
		display: block;
		width: 217px;
		height: 364px;
		border: none;
		background-color: #4a4a4a;
		top: 0px !important;
		left: 363px !important;
		visibility: visible;
		ul.menu {background: none;}
		.menu-option-base {
			@extend %pointer;
			position: relative;
			padding: 10px 0;
			.menu-icon-container {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			.menu-icon {fill: $light-gray; stroke: none;}
			.about-icon {
				fill: none;
				path {
					stroke: $light-gray;
					stroke-width: 2;
				}
				text {
					font-size: 11px;
					font-weight:400;
					fill: $light-gray;
				}
			}
			span {
				@include user-select(none);
				font-size: 14px;
				font-weight: 300;
				color: $light-gray;
				padding-left: 10px;
				line-height: 18px;
				vertical-align: top;
				display: inline-block;
				margin-left: 20px;
				overflow-y: hidden;
			}
			a {
				display: block;
				padding: 0;
			}
		}

		.menu-option {
			@extend .menu-option-base;
			.subscriber {
				width: 23px;
				height: 16px;
				path {
					stroke: $light-gray;
				}
			}
			&:hover {
				span {color: $ghosty-blue}
				.menu-icon {fill: $ghosty-blue; stroke: none;}
				.subscriber {
					path {
						stroke: $ghosty-blue;
					}
				}
				.about-icon {
					path, text {stroke: $ghosty-blue;}
				}
			}
			span {
				color: #ffffff;
			}
		}

		.menu-option-non-subscriber {
			@extend .menu-option-base;
			.non-subscriber {
				width: 23px;
				height: 16px;
				path {
					stroke: $gold;
				}
			}
			&:hover {
				.non-subscriber {
					path {
						stroke: $bright-gold;
					}
				}
				span {color: $bright_gold}
			}
			span {color: $gold;}
		}

		.account-info {
			@extend %pointer;
			position: absolute;
			bottom: 0px;
			left: 0;
			padding: 16px;
			width: 100%;
			.signed-in-as {
				padding-bottom: 0;
				span {
					@extend %nowrap;
					margin-left: 0;
					max-width: 165px;
				}
			}
			.menu-signin, .menu-signout {
				text-align: center;
				span {
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}
}
