/**
 * Help, About and Supporter Panel Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 * 
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

#content-help, #content-about, .content-subscription {
	padding: 20px 15px;
	h1 {
		margin-top: 0.5rem;
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;
		color: #5f7c86;
	}
	h3 {
		font-size: 14px;
		line-height: 21px;
		font-weight: 500;
		color: #4a4a4a;
		margin-bottom: 0;
	}
	a {
		display: block;
		font-size: 14px;
		line-height: 21px;
		font-weight: 400;
		color: #2092bf;
		text-decoration: none;
	}
	.support-section {
		padding: 18px 0px;
		div {
			@extend %pointer;
			display: block;
			font-size: 14px;
			line-height: 21px;
			font-weight: 400;
			color: #2092bf;
			text-decoration: none;
		}
	}
}
