/**
 * Ghostery Hub - Other Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 *
 * ToDo: Remove this file.
 */

// App Scss
.App {
	height: 100%;
	width: 100%;
	display: flex;
}
.App__leftNavigation {
	height: 100%;
	background-color: pink;
	min-width: 200px;
	max-width: 200px;
}
.App__mainContent {
	height: 100%;
	flex-grow: 1;
}
