/**
 * Mixins for the Ghostery Hub
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

@mixin transition($transitions...) {
	-webkit-transition: $transitions;
	   -moz-transition: $transitions;
	     -o-transition: $transitions;
	        transition: $transitions;
}

// Takes in the original button color ($ghosty-blue, $ghosty-blue-alt, $secondary, etc...) and sets a button hover color
@mixin button-hover-color-for($button-color) {
	@if $button-color == #1dafed or $button-color == #00AEF0 {
		&:not(.hollow):hover {
			background-color: #0078CA;
		}
		&.hollow:hover, &.hollow:focus {
			border-color: #0078CA;
			color: #0078CA;
		}
	} @else {
		&:not(.hollow):hover, &:not(.hollow):focus {
			background-color: scale-color($button-color, $lightness: -15%);
			color: scale-color($button-color, $lightness: -15%);
		}
		&:hover, &:focus {
			border-color: scale-color($button-color, $lightness: -15%);
			color: scale-color($button-color, $lightness: -15%);
		}
	}
}
