/**
 * Pause Button Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.sub-component.pause-button {
	.button {
		color: #4a4a4a;
		border-color: #cccccc;
		background-color: #ffffff;
		margin-bottom: 0;

		transition: background-image 0.25s ease-out,
			background-color 0.25s ease-out,
			border-color 0.25s ease-out,
			box-shadow 0.25s ease-out,
			color 0.25s ease-out;
	}
	.button.active {
		color: #ffffff;
		border-color: #0093bd;
		background-color: #1dafed;
		box-shadow: inset 0px 1px 7px 2px #0093bd;
		& + .button.active {
			border-left-color: #efefea;
		}
	}
	.button:hover { background-color: $ghosty-blue; }
	.button.active:hover {
		border-color: #0093bd;
		background-color: $ghosty-blue;
		box-shadow: none;
	}

	.button-pause {
		height: 35px;

		min-width: 125px;
		max-width: 125px;
		line-height: 16px;
		.pause-button-text {
			overflow-x: hidden;
			text-overflow: clip;
			font-size: 11px;
		}
		.pause-button-icon {
			height: 13px;
			padding: 0 10px 0 30px;
			background-repeat: no-repeat;
			background-position: 0 center;
			background-size: 14px 16px;
			background-image: buildIconPause(#4a4a4a);
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow-x: hidden;
		}
		&.active .pause-button-icon {
			background-image: buildIconPlay(#ffffff);
		}
		&.smaller {
			height: 45px;
		}
	}

	.button-pause.smallest {
		height: 41px;
		min-width: 41px;
		max-width: 41px;
		padding-left: 15px;
		border-top: none;
		border-bottom-left-radius: 3px;
		line-height: 27px;
		.pause-button-icon {
			padding: 0 0 0 15px;
		}
	}

	.button-pause.smallest.dropdown-open {
		border-bottom-left-radius: 0;
	}

	.button-caret {
		height: 35px;
		width: 25px;
		padding-top: 21px;
		padding-right: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 9px 5px;
		background-image: buildIconCaretDown(#4a4a4a);
	}

	.button-caret.active {
		background-image: buildIconCaretDown(#ffffff);
	}

	.button-caret.smaller {
		height: 45px;
	}

	.button-caret.smallest {
		height: 41px;
		border-top: none;
		border-bottom-right-radius: 3px;
	}

	.button-caret.smallest.dropdown-open {
		border-bottom-right-radius: 0;
	}

	.button-left {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: 0;
		&.dropdown-open {
			border-bottom-left-radius: 0;
		}
	}

	.button-right {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		&.dropdown-open {
			border-bottom-right-radius: 0;
		}
	}

	.dropdown-container {
		position: relative;
		width: 0;
		height: 0;
		top: 0;
		left: 0;

		.dropdown {
			position: absolute;
			z-index: 1;
			border: 1px solid #cccccc;
			border-top: 0;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		.dropdown-item {
			padding: 12px 0;
			background-color: #ffffff;

			white-space: nowrap;
			text-overflow: ellipsis;
			overflow-x: hidden;
		}
		.dropdown-item:hover {
			background-color: #ebebeb;
		}
		.dropdown-item.selected {
			background-color: #ebebeb;
			.dropdown-clickable {
				padding: 0 0 0 10px;
				background-repeat: no-repeat;
				background-position: 0 center;
				background-size: 4px 4px;
				background-image: buildIconCircle(#4a4a4a);
			}
		}
	}

	.dropdown-container.centered .dropdown-item {
		padding: 6px 0;
	}

	.no-border-radius {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}
