/**
 * Radio Button Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.RadioButtonGroup__container {
	margin-top: 20px;
	display: flex;
}
.RadioButtonGroup__labelContainer {
	display: flex;
	flex-direction: column;
	margin-right: 15px;
}
.RadioButtonGroup__label {
	font-weight: bolder;
	margin-bottom: 15px;
}
.RadioButtonGroup__buttonsContainer {
	display: flex;
	flex-direction: column;
}
.RadioButtonGroup__button {
	margin-bottom: 15px;
}
.RadioButton__outerCircle {
	border: 1px solid #4a4a4a;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	&.checked {
		border: 2px solid #2092bf;
	}
}
.RadioButton__innerCircle {
	&.checked {
		height: 8px;
		width: 8px;
		background-color: #2092bf;
		border-radius: 50%;
	}
}
