/**
 * Rewards Panel Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// Rewards Panel Component Classes
.RewardsPanel {
}
.RewardsPanel__header {
	padding: 10px 13px;
	background-color: $whisper;
}
.RewardPanel__back svg {
	@include transition(fill 0.2s);
	fill: #9b9b9b;
}
.RewardPanel__back:hover svg { fill: #4a4a4a; }

.RewardsPanel__title {
	text-transform: uppercase;
	font-size: 14px;
	color: #9b9b9b;
}
.RewardsPanel--left-padding {
	padding-left: 13px;
}
.RewardsPanel__slider_text {
	text-transform: uppercase;
	padding-right: 7px;
}
.RewardsPanel__info {
	margin: 0 40px;
	text-align: center;
	font-size: 14px;
  background-color: #f7f8fb;
}
.RewardsPanel__reward_icon {
	margin: 70px 0 20px;
	fill: #9b9b9b;
}
.RewardsPanel__learn_more {
	margin-top: 10px;
}
.RewardsPanel__rewards_count_wrapper {
  float: left;
  margin: 120px 0 0 45px;
}
.RewardsPanel__rewards_count {
  color: purple;
  font-size: 48px;
  text-align: center;
}
.RewardsPanel__rewards_count_title {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.RewardsPanel__myoffrz_iframe {
  float: right;
  border: 0;
}
