/**
 * Select Button Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 * 
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

$grey: #ccc;
$dark-grey: #4a4a4a;
$menu-height: 102px;

$menuItemDot: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%224px%22%20height%3D%224px%22%20viewBox%3D%220%200%204%204%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2047.1%20%2845422%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3EOval%209%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Simple-View-Panel---Trust/Restric/Pause%22%20transform%3D%22translate%28-813.000000%2C%20-2171.000000%29%22%20fill%3D%22%234A4A4A%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22Oval-9%22%20cx%3D%22815%22%20cy%3D%222173%22%20r%3D%222%22%3E%3C/circle%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');

%select-menu-base {
	overflow-y: auto;
	height: $menu-height;
	position: absolute;
	top: -$menu-height;
	left: 0;
	right: 0;
	border: 1px solid $grey;
	width: 100%;
	border-bottom: 0px;
	box-shadow: inset 2px 2px 2px -2px $grey, inset 2px 2px 2px -2px $grey, inset -2px 2px 2px -1px $grey;
	background-color: #fff;
	ul {
		list-style-type: none;
		margin: 0px;
		text-align: center;
		li {
			cursor: pointer;
			&.selected {
			  background-color: #A6A6A6;
				.bullet {
					background-image: $menuItemDot;
				}
			}
			.item-wrapper {
				line-height: 33px;
				position: relative;
				height: 33px;
				display: inline-block;
			}
			.bullet {
				position: absolute;
				top: 14px;
				left: -12px;
				height: 4px;
				width: 4px;
				background-repeat: no-repeat;
			}
			&:not(.selected):hover {
				background-color: #ebebeb;
				.bullet {
					background-image: $menuItemDot;
				}
			}
		}
	}
}

#panel {
	#content-summary {
		#controls {
			#ghostery-controls {
				.select-button {
					&.left-button {
						border-right: 0;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						width: 100px;
					}
					&.right-button {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						width: 25px;
						padding: 0;
						&:before {
							content: '';
							width: 100%;
							height: 100%;
							display: block;
							background-repeat: no-repeat;
							background-position: center;
							background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%228px%22%20height%3D%225px%22%20viewBox%3D%220%200%208%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2047.1%20%2845422%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3ETriangle%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Card-view---list-expanded-MAX---HOVER%22%20transform%3D%22translate%28-696.000000%2C%20-580.000000%29%22%20fill%3D%22%234A4A4A%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-2%22%20transform%3D%22translate%28684.000000%2C%20575.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Triangle%22%20transform%3D%22translate%2816.086957%2C%207.391304%29%20scale%281%2C%20-1%29%20translate%28-16.086957%2C%20-7.391304%29%20%22%20points%3D%2216.0869565%205.2173913%2020%209.56521739%2012.173913%209.56521739%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
						}
						&.rotate:before {
							transform: rotate(-180deg);
						}
					}
				}

				.select-menu {
					@extend %select-menu-base;
				}
			}
		}
		&.expert.expanded {
			#controls {
				#ghostery-controls {
					.select-button-wrapper {
						width: 100%;
					}
					.select-button {
						&.left-button {
							width: 100%;
						}
						&.right-button {
							position: absolute;
							right: 0;
							bottom: 0;
							top: 0;
							width: 20px;
						}
					}
					.select-menu {
						@extend %select-menu-base;
						top: -$menu-height + 1px;
						width: 170%;
						border-bottom: 1px solid $grey;
						z-index: 2;
					}
				}
			}
		}
	}
}
