/**
 * Summary Panel Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.Summary {
	position: absolute;
	height: 479px;
}

.Summary__donutContainer {
	margin: 26px auto;
}

.Summary__pageHostContainer {
	text-align: center;
}

.SummaryPageHost {
	font-size: 11px;
	font-weight: 600;
	color: #4a4a4a;
}

.Summary__pageStatsContainer {
	text-align: center;
}

.Summary__pageStatContainer {
	text-align: center;
}

.SummaryPageStat {
	line-height: 21px;
	font-size: 14px;
	font-weight: 600;
}

.SummaryPageStat--condensed-view {
	padding: 0;
	margin: 5px 0;

	.SummaryPageStat__label {
		display: none;
	}
}

.SummaryPageStat.total-trackers-blocked .SummaryPageStat__value { color: #e74055; }
.SummaryPageStat.total-requests-modified .SummaryPageStat__value { color: #00aef0; }
.SummaryPageStat.page-load-time-slow .SummaryPageStat__value { color: #e74055; }
.SummaryPageStat.page-load-time-medium .SummaryPageStat__value { color: #ffc063; }
.SummaryPageStat.page-load-time-fast .SummaryPageStat__value { color: #9ecc42; }

.Summary--simple {
	width: 100%;

	.Summary__pageHostContainer {
		margin-bottom: 36px;
	}

	.Summary__donutContainer {
		height: 120px;
		width: 120px;
	}

	.Summary__pageStatsContainer {
		margin-bottom: 30px;
	}

	.Summary__pageStatContainer {
		display: inline-block;
		padding: 0 20px;
	}

	.Summary__ghosteryFeatureContainer--middle {
		margin: 12px 28px;
	}

	.Summary__cliqzFeatureContainer {
		width: 150px;
	}
}

.Summary--expert {
	width: 235px;
	padding-top: 10px;

	.Summary__pageHostContainer {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.Summary__donutContainer {
		height: 94px;
		width: 94px;
		margin-top: 21px;
		margin-bottom: 20px;
		padding-top: 5px;
	}

	.Summary__pageStatsContainer {
		margin-bottom: 21px;
	}

	.Summary__pageStatContainer {
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	// .total-requests-modified needs to show overflow for tooltip
	.Summary__pageStatContainer .total-trackers-blocked,
	.Summary__pageStatContainer .page_load_time {
		overflow-x: hidden;
	}

	.Summary__ghosteryFeatureContainer--middle {
		margin: 12px 28px;
	}

	.Summary__cliqzFeaturesContainer {
		margin-top: 6px;
		margin-bottom: 6px;
	}

	.Summary__cliqzFeatureContainer {
		width: 55px;
	}
}

.Summary--condensed {
	width: 66px;
	background-color: #f9f6f6;

	.Summary__totalTrackerCountContainer {
		margin: 10px 0;
		padding: 0;
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		color: $tundora;
	}

	.Summary__pageStatsContainer {
		margin-bottom: 12px;
	}

	.Summary__cliqzFeaturesContainer {
		margin-top: 15px;
		margin-bottom: 0;
	}

	.Summary__cliqzFeatureContainer:last-of-type {
		margin-bottom: 0;
	}

	.Summary__cliqzFeatureContainer {
		width: 40px;
		margin: 0 0 5px;
	}
}

// Additional specificity needed to overwrite the position value of g-tooltip
.Summary__statsButton.Summary__statsButton--absolutely-positioned {
	position: absolute;
	right: 0;
	top: 40px;
	padding: 6px 3px 3px 9px;
	border: 1px lightgray solid;
	border-radius: 5px 0 0 5px;
}

.Summary__spaceTaker {
	height: 140px;
}

.Summary__ghosteryFeaturesContainer {
	text-align: center;
}

.Summary__ghosteryFeatureContainer {
	display: inline-block;
}

.Summary__pauseButtonContainer {
	display: inline-block;
}

.Summary__cliqzFeaturesContainer {
	text-align: center;
}

.Summary__cliqzFeatureContainer {
	display: inline-block;
	margin: 0 10px;
}

.Summary__upgradeBannerContainer {
	position: absolute;
	top: 10px;
}

.Summary__subscriberBadgeContainer {
	position: absolute;
	left: 10px;
	top: 11px;
}
