/**
 * Summary Panel Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

#content-summary {
	position: absolute;
	height: 479px;
	width: 100%;
	&.expert { width: 235px; }
	&.expert.condensed {
		width: 66px;
		background-color: #f9f6f6;
	}

	.clickable {
		cursor: pointer;
	}
	.not-clickable {
		cursor: not-allowed;
	}

	.pause-button-container {
		padding: 10px 0 0 10px;
		text-align: left;
	}
	&.expert .pause-button-container {
		padding: 10px 0 0 0;
		text-align: center;
	}
	&.expert.condensed .pause-button-container {
		padding: 0;
		text-align: left;
	}

	.page-host {
		color: #4a4a4a;
		text-align: center;
		font-size: 11px;
		font-weight: 600;
		margin-bottom: 30px;
	}
	&.expert .page-host {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.donut-graph-container {
		margin: 0 auto 30px;
		height: 120px;
		width: 120px;
	}
	&.expert .donut-graph-container {
		margin-bottom: 16px;
		height: 94px;
		width: 94px;
	}
	&.expert.condensed .total-tracker-count {
		text-align: center;
		margin: 13px 0;
		padding: 0;
		color: #4a4a4a;
		font-size: 24px;
		font-weight: 600;
	}

	.page-stats {
		color: #4a4a4a;
		text-align: center;
		font-size: 14px;
		line-height: 21px;
		font-weight: 600;
		margin-bottom: 30px;
		.blocked-trackers .value { color: #e74055; }
		.page-load .value { color: #ffc063; }
		.page-load.fast .value { color: #9ecc42; }
		.page-load.slow .value { color: #e74055; }

		.blocked-trackers,
		.page-load {
			display: inline-block;
			padding: 0 20px;
		}
	}
	&.expert .page-stats {
		margin-bottom: 16px;
		.blocked-trackers,
		.page-load {
			display: block;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow-x: hidden;
		}
	}
	&.expert.condensed .page-stats {
		margin-bottom: 0;
		div {
			text-align: center;
			padding: 0;
			margin: 13px 0;
		}
		.text { display: none; }
	}

	.not-scanned-expert-condensed-space-taker {
		height: 130px;
	}

	.ghostery-features-container {
		text-align: center;
		margin-bottom: 22px;
	}
	&.expert .ghostery-features-container {
			margin-bottom: 16px;
	}
	&.expert.condensed .ghostery-features-container {
		margin-bottom: -8px;
	}

	.cliqz-features-container {
		text-align: center;
	}
	&.expert .cliqz-features-container {
		margin-bottom: 16px;
	}

	.map-these-trackers {
		text-align: center;
		font-size: 10px;
		color: #9b9b9b;
	}
}
