/**
 * Summary Panel Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

// The donut *container* is specific to the Summary component and should live here
// The donut itself is not intrinsically tied to Summary and can live wherever
.GhosteryTextLabel {
	color: #4a4a4a;
	font-weight: 600;
}

.GhosteryKVReadout {
	text-align: center;
	font-weight: 600;
}

.GhosteryKVReadout--summaryCondensed {
	padding: 0;
	margin: 5px 0;
}

.GhosteryKVReadout--withoutKey {
	.GhosteryKVReadout__key { display: none; }
}

.GhosteryKVReadout__key {
	color: #4a4a4a;
}

.GhosteryKVReadout--totalTrackersBlocked {
	.GhosteryKVReadout__value { color: #e74055; }
}

.GhosteryKVReadout--totalRequestsModified {
	.GhosteryKVReadout__value { color: #00aef0; }
}

.GhosteryKVReadout--pageLoadTime-slow {
	.GhosteryKVReadout__value { color: #e74055; }
}

.GhosteryKVReadout--pageLoadTime-medium {
	.GhosteryKVReadout__value { color: #ffc063; }
}

.GhosteryKVReadout--pageLoadTime-fast {
	.GhosteryKVReadout__value { color: #9ecc42; }
}

.Summary {
	position: absolute;
	height: 479px;
}

.Summary__pageHostContainer {
	text-align: center;
	font-size: 11px;
}

.Summary__pageStatContainer {
	font-size: 14px;
	line-height: 21px;
}

.Summary--simple {
	width: 100%;

	.Summary__pageHostContainer {
		margin-bottom: 36px;
	}

	.Summary__donutContainer {
		margin: 26px auto;
		height: 120px;
		width: 120px;
	}

	.Summary__pageStatContainer {
		margin-bottom: 40px;
		display: inline-block;
		padding: 0 20px;
	}

	.Summary__ghosteryFeatureContainer--middle {
		margin: 12px 28px;
	}

	.Summary__cliqzFeatureContainer {
		width: 150px;
	}
}

.Summary--expert {
	width: 235px;
	padding-top: 10px;

	.Summary__pageHostContainer {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.Summary__donutContainer {
		height: 94px;
		width: 94px;
		margin-top: 21px;
		margin-bottom: 20px;
		padding-top: 5px;
	}

	.Summary__pageStatContainer {
		margin-bottom: 21px;
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow-x: hidden;
	}

	.Summary__ghosteryFeatureContainer--middle {
		margin: 12px 28px;
	}

	.Summary__cliqzFeaturesContainer {
		margin-top: 10px;
		margin-bottom: 6px;
	}

	.Summary__cliqzFeatureContainer {
		width: 55px;
	}
}

.Summary--condensed {
	width: 66px;
	background-color: #f9f6f6;

	.Summary__totalTrackerCountContainer {
		font-size: 24px;
		padding: 0;
		margin: 10px 0;
	}

	.Summary__cliqzFeaturesContainer {
		margin-bottom: 0;
	}

	.Summary__cliqzFeatureContainer:last-of-type {
		margin-bottom: 0;
	}

	.Summary__cliqzFeatureContainer {
		width: 40px;
		margin: 0 0 5px;
	}
}

.Summary__statsButton.Summary__statsButton--absolutely-positioned {
	position: absolute;
	right: 0;
	top: 40px;
	padding: 6px 3px 3px 9px;
	border: 1px lightgray solid;
	border-radius: 5px 0 0 5px;
}

.Summary__spaceTaker {
	height: 162px;
}

.Summary__ghosteryFeaturesContainer {

}

.Summary__ghosteryFeatureContainer {
	display: inline-block;
}

.Summary__pauseButtonContainer {
	display: inline-block;
}

.Summary__cliqzFeaturesContainer {
	text-align: center;
}

.Summary__cliqzFeatureContainer {
	display: inline-block;
	margin: 0 10px;
}

.Summary__upgradeBannerContainer {
	position: absolute;
	top: 10px;
}

.UpgradeBanner {
	@extend %pointer;
	height: 23px;
	background: url("../../app/images/panel/green-upgrade-banner.svg");
	background-size: contain;
}

.UpgradeBanner__text {
	display: inline-block;
	padding: 0 4px 0 10px;
	vertical-align: sub;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: white;
}

.UpgradeBanner__plus {
	display: inline-block;
	padding-right: 18px;
	vertical-align: sub;
}

#content-summary {
	&.expert .upgrade-banner-container {
		background-size: 100% 20px;
		height: 20px;
	}

	&.expert .upgrade-banner-text {
		font-size: 10px;
		vertical-align: baseline;
		padding-left: 8px;
	}

	&.expert .upgrade-banner-plus {
		vertical-align: middle;
	}

	.gold-plus-icon {
		@extend %pointer;
		position: absolute;
		left: 10px;
		top: 11px;
	}
}
