/**
 * Upgrade Banner Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.UpgradeBanner {
	@extend %pointer;
}

.UpgradeBanner--normal {
	height: 25px;
	background: linear-gradient(#9ECC42, #429321);
	&::before {
		content: '';
		position: absolute;
		right: 0;
		height: 0;
		width: 0;
		border-top: 12.5px solid transparent;
		border-bottom: 12.5px solid transparent;
		border-right: 10px solid white;
	}

	.UpgradeBanner__text {
		font-size: 12px;
		vertical-align: sub;
		padding: 0 4px 0 10px;
	}

	.UpgradeBanner__plus {
		vertical-align: sub;
	}
}

.UpgradeBanner--small {
	height: 20px;
	background: linear-gradient(#9ECC42, #429321);
	&::before {
		content: '';
		position: absolute;
		right: 0;
		height: 0;
		width: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 8px solid white;
	}

	.UpgradeBanner__text {
		font-size: 10px;
		vertical-align: baseline;
		padding: 0 4px 0 8px;
	}

	.UpgradeBanner__plus {
		vertical-align: middle;
		padding-right: 12px;
	}
}

.UpgradeBanner__text {
	display: inline-block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: bold;
	color: white;
}

.UpgradeBanner__plus {
	display: inline-block;
	padding-right: 15px;
}
