.ChooseSearchView__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  line-height: 2.33;
  color: $tundora;
  margin: 45px auto 83px auto;
}

.ChooseSearchView__relativeContainer {
	position: relative;
	@include breakpoint(small down) {
		margin-left: 0;
	}
}
.ChooseSearchView__caret.left {
	margin: 7px auto 0 auto;
	height: 10px;
  width: 10px;
  border-left: 2px solid $tundora;
	border-top: 2px solid $tundora;
	cursor: pointer;
	transform: rotate(-45deg);
}

.ChooseSearchView__backContainer {
	position: absolute;
	display: flex;
	width: 68px;
	margin-top: 61px;
	@include breakpoint(small down) {
		margin-top: 20px;
	}
	.ChooseSearchView__back {
		margin-top: 8px;
		font-size: 16px;
		color: $tundora;
		text-decoration: underline;
	}
}


.ChooseSearchView__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 2.33;
  text-align: center;
}

.ChooseSearchView__subtitle {
  margin-bottom: 47px;
  text-align: center;
}

.ChooseSearchView__optionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ChooseSearchView__radioButtonContainer {
  padding: 11px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.ChooseSearchView__optionContainer {
  display: flex;
  width: 354px;
  height: 125px;
  padding: 20px;
  margin: 20px;
  border: solid 1px $tundora;
  border-radius: 4px;

  &.selected {
	border: solid 4px $ghosty-blue;
  }

  &:hover {
	border: solid 4px $ghosty-blue;
  }
}

.ChooseSearchView__nextButton {
  display: flex;
  justify-content: center;
  height: 44px;
  width: 162px;
  cursor: pointer;
  padding: 7.7px 14px;
  line-height: 22px;
  background: linear-gradient(
	45deg,
	#ff7e74 50%,
	#00aef0
  );
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: 0.25s all;
  border: none;
  &:hover {
	background-position: 0% 50%;
	transition: 0.25s all;
  }
  color: #FFF;
  font-size: 14.1px;
  font-weight: 700;
  border-radius: 3.5px;
  text-align: center;
  line-height: 2.05;
  cursor: pointer;
}

.ChooseSearchViewModal__content {
  position: relative;
  width: 901px;
  min-height: 632px;
  padding-top: 45px;
  color: #4a4a4a;
  background-color: #f7f7f7;
  border: 1px solid $tundora;
  z-index: 10;
}
