/* FORGOT PASSWORD PANEL */
#forgot-password-panel{
	margin-top: 75px;
	h4#forgot-password-message {
		font-size:14px;
		font-weight: normal;
		color: #333333;
		margin-bottom: 50px;
	}

	.buttons-container {
		margin-top: 60px;
		#send-button {
			width:126px;
		}
	}
}

/* FORGOT PASSWORD HUB */
#ForgotPasswordView {
	margin: 40px auto;
	padding-bottom: 40px;
	#ForgotPasswordMessage {
		margin-top: 40px;
		width: 456px;
	}
	.ForgotPasswordButtonsContainer {
		margin-top: 10px;
		width: 456px;
	}
}

/* FORGOT PASSWORD SHARED */
#forgot-email {
	&.not-found-error {
		p.warning.invalid-email {
			opacity: 0;
		}
	}
	&.invalid-email {
		p.warning.not-found-error {
			opacity: 0;
		}
	}
}
p.warning {
	margin: 0;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	font-style: italic;
	color: #CC5F5A;
	opacity: 0;
	@include transition(opacity 0.2s, color 0.2s);
}
.panel-error {
	span.asterisk {display: inline;}
	p.warning {
		opacity: 1;
	}
	input {
		border-color: #E0B4B4;
		background-color: #FFF6F6;
	}
	label {
		color: #CC5F5A;
	}
}

/* Loading icon */
.button.ghostery-button {
	.loader {
		display: none;
	}
	&.loading {
		pointer-events: none;
		.loader {
			display: inline-block;
			height: 12px;
			width: 12px;
		}
		.title {
			display: none;
		}
	}
	&:focus {
		outline: 0;

		.loader:after {
			background: #760176;
		}
	}
}

.loader {
	font-size: 10px;
	text-indent: -9999em;
	width: 10px;
	height: 10rem;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #ffffff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #930194;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@media only screen and (max-width: 740px)  {
	.ForgotPasswordView__header {
		flex-direction: column;
	}
}
