/* FORGOT PASSWORD PANEL */
#forgot-password-panel{
	margin-top: 75px;
	h4#forgot-password-message {
		font-size:14px;
		font-weight: normal;
		color: #333333;
		margin-bottom: 50px;
	}
	#forgot-email {
		&.not-found-error {
			p.warning.invalid-email {
				opacity: 0;
			}
		}
		&.invalid-email {
			p.warning.not-found-error {
				opacity: 0;
			}
		}
	}
	.buttons-container {
		margin-top: 60px;
		#send-button {
			width:126px;
		}
	}
}

/* FORGOT PASSWORD HUB */

