/**
 * Forgot Password Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

/* FORGOT PASSWORD PANEL */
#forgot-password-panel {
	margin: 75px auto 0 auto;
	width: 356px;
	h4#forgot-password-message {
		font-size:14px;
		font-weight: normal;
		color: #333333;
		margin-bottom: 50px;
	}
	.buttons-container {
		margin-top: 60px;
		#send-button {
			width:126px;
		}
	}
}

/* FORGOT PASSWORD HUB */
#ForgotPasswordView {
	height: 100%;
	display: flex;
	align-items: center;
	margin-top: -10%;
	#forgot-email {
		margin: 40px auto;
	}
	#ForgotPasswordMessage {
		width: 548px;
	}
	.ForgotPasswordButtonsContainer {
		margin-left: 3px;
		width: 548px;
	}
	input#ForgotPasswordMessage {
		// Foundation Overrides
		border: 1px solid #c8c7c2;
		border-radius: 0;
		box-shadow: none;

		&:focus {
			// Foundation Overrides
			box-shadow: none;
			border-color: #4a4a4a;
		}
	}
	#send-button {
		width: 150px;
	}
	@media only screen and (max-width: 800px) {
		#ForgotPasswordMessage {
			width: 456px;
			text-align: center;
		}
		.ForgotPasswordButtonsContainer {
			width: 456px;
		}
	}
}

/* FORGOT PASSWORD SHARED */
#forgot-email {
	&.not-found-error {
		p.warning.invalid-email {
			opacity: 0;
		}
	}
	&.invalid-email {
		p.warning.not-found-error {
			opacity: 0;
		}
	}
}
p.warning {
	margin: 0;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	font-style: italic;
	color: #CC5F5A;
	opacity: 0;
	@include transition(opacity 0.2s, color 0.2s);
}
span.asterisk {
	display: none;
	font-size: 14px;
	margin: 0;
}
.panel-error {
	span.asterisk {display: inline;}
	p.warning {
		opacity: 1;
	}
	input {
		border-color: #E0B4B4;
		background-color: #FFF6F6;
	}
	label {
		color: #CC5F5A;
	}
}
