:root {
  --text: #838B90;
  --black: #252525;
  --ghostery: #00AEF0;
  --deep-blue: #0D8FE7;
}

body, button {
  font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif !important;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #F8F8F8;
  font-size: 13px;
  color: var(--text);
}

canvas {
  /* all four are needed to support the most browsers */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* HEADER */

panel-header header {
  background-color: var(--ghostery);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 12px;
  position: relative;
}

panel-header header .notch {
  background-color: #F8F6F6;
  border-radius: 3px;
  transform: rotate(45deg);
  width: 18px;
  height: 18px;
  bottom: -12px;
  position: absolute;
  left: calc(50% - 10px);
}

panel-header header a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

panel-header .domain-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  font-size: 15px;
  text-align: center;
}

panel-header .feather {
  width: 16px;
  height: 16px;
  color: white;
}

/* BODY */

panel-body simple-view, panel-body detailed-view {
  padding: 12px;
  overflow: hidden;
  box-sizing: border-box;
}

panel-body h1 {
  font-size: 20px;
  text-align: center;
  color: var(--black);
  white-space: nowrap;
  font-weight: 600;
  margin: 0 10px;
}

panel-body section.toggles {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

panel-body section.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-top: 10px;
}

panel-body section.buttons a, panel-body section.buttons a:visited {
  color: var(--deep-blue);
  padding: 10px 17px;
  flex: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 7.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

panel-body section.buttons a svg {
  width: 10px;
  height: 10px;
  margin-left: 3px;
}

panel-body section.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

panel-body section.stats ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
  list-style: none none inside;
}

panel-body section.stats .category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

panel-body section.stats .category label {
  margin: 0 5px;
  font-size: 13px;
  line-height: 16px;
}

panel-body section.stats .category strong {
  color: var(--black);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

/* FOOTER */

panel-footer footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 12px;
  font-size: 11.5px;
}

panel-footer footer a {
  white-space: nowrap;
  cursor: pointer;
}

panel-footer footer .dot {
  margin: 0 5px;
}

panel-footer footer a, panel-footer footer a:visited {
  text-decoration: none;
  color: var(--text);
}

panel-footer footer .subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

panel-footer footer .subscribe svg {
  margin-left: 10px;
  margin-right: 3px;
  width: 13px;
  height: 13px;
}
