build
tmp
dist
src/_metadata
src/rule_resources

web-ext-artifacts/

# xcode
*.xcuserstate
xcuserdata
*.xcloc
xcode/**/*/Package.resolved
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
