@media (prefers-color-scheme: dark) {
  html {
    --ui-color-layout: #1f2125;

    --ui-color-gray-100: #13151a;
    --ui-color-gray-200: #2f3136;
    --ui-color-gray-300: #636468;
    --ui-color-gray-400: #88898c;
    --ui-color-gray-600: #b9bbbe;
    --ui-color-gray-800: #f2f4f7;

    --ui-color-primary-100: #0a1e31;
    --ui-color-primary-200: #00365c;
    --ui-color-primary-300: #004f88;
    --ui-color-primary-500: #00aef0;
    --ui-color-primary-700: #33c7ff;

    --ui-color-success-100: #056605;
    --ui-color-success-500: #1b911b;
    --ui-color-success-700: #36b736;

    --ui-color-warning-100: #3c3523;
    --ui-color-warning-500: #ffbb00;

    --ui-color-error-500: #ff4500;
    --ui-color-error-400: #ff5d35;

    --ui-color-danger-100: #341b1c;
    --ui-color-danger-500: #cd393c;
    --ui-color-danger-700: #e05c5e;

    --ui-color-backdrop: var(--ui-color-gray-100);
    --ui-color-warning-text: var(--ui-color-gray-100);
    --ui-color-scroll-shadow: rgba(0, 0, 0, 0.4);

    --ui-shadow-header: 0px 1px 0px var(--ui-color-gray-200);
  }
}
