@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  --ui-color-gray-800: #202c44;
  --ui-color-gray-600: #49556e;
  --ui-color-gray-500: #6d778e;
  --ui-color-gray-400: #9ba3b4;
  --ui-color-gray-300: #c3cad9;
  --ui-color-gray-200: #dfe3eb;
  --ui-color-gray-100: #f0f2f7;
  --ui-color-white: white;

  --ui-color-primary-700: #0077cc;
  --ui-color-primary-500: #00aef0;
  --ui-color-primary-300: #9adeff;
  --ui-color-primary-200: #daf3ff;
  --ui-color-primary-100: #ebf7fd;

  --ui-color-success-700: #008d00;
  --ui-color-success-500: #0ab00a;
  --ui-color-success-100: #ebfaeb;

  --ui-color-warning-500: #ffbb00;
  --ui-color-warning-100: #fff7e6;

  --ui-color-error-500: #ff4500;
  --ui-color-error-400: #ff5d35;

  --ui-color-danger-700: #c80f11;
  --ui-color-danger-500: #f13436;
  --ui-color-danger-100: #ffecec;

  --ui-color-backdrop: var(--ui-color-gray-800);
  --ui-color-warning-text: var(--ui-color-gray-800);

  --ui-color-inherit: inherit;

  --ui-shadow-header: 0px 4px 16px rgba(32, 44, 68, 0.1);

  --ui-font-family: 'Inter', sans-serif;
  --ui-font-family-label: var(--ui-font-family);

  --ui-font-headline-l: 600 30px / 40px var(--ui-font-family);
  --ui-font-headline-m: 600 24px / 32px var(--ui-font-family);
  --ui-font-headline-s: 600 18px / 22px var(--ui-font-family);
  --ui-font-headline-xs: 600 16px / 20px var(--ui-font-family);

  --ui-font-label-l: 600 16px / 20px var(--ui-font-family);
  --ui-font-label-m: 600 14px / 18px var(--ui-font-family);
  --ui-font-label-s: 600 12px / 16px var(--ui-font-family);
  --ui-font-label-xs: 600 11px / 14px var(--ui-font-family);

  --ui-font-body-l: 400 16px / 20px var(--ui-font-family);
  --ui-font-body-m: 400 14px / 18px var(--ui-font-family);
  --ui-font-body-s: 400 12px / 16px var(--ui-font-family);

  --ui-font-button-m: var(--ui-font-label-m);
  --ui-font-button-s: 600 14px / 24px var(--ui-font-family);

  /* UI components overwrites */
  --ui-text-color-heading: var(--ui-color-gray-800);
  --ui-text-color-anchor: var(--ui-color-primary-700);
}

@media (prefers-color-scheme: dark) {
  html {
    --ui-color-gray-100: #0e1218;
    --ui-color-gray-200: #2b3444;
    --ui-color-gray-300: #5e6773;
    --ui-color-gray-400: #7f8aa3;
    --ui-color-gray-500: #9da5b7;
    --ui-color-gray-600: #b2b9cf;
    --ui-color-gray-800: #eceff5;
    --ui-color-white: #181d27;

    --ui-color-primary-100: #0a1e31;
    --ui-color-primary-200: #1a4065;
    --ui-color-primary-300: #144878;
    --ui-color-primary-500: #4fa9e4;
    --ui-color-primary-700: #7dc7f8;

    --ui-color-success-100: #056605;
    --ui-color-success-500: #1b911b;
    --ui-color-success-700: #ebfaeb;

    --ui-color-warning-100: #312913;
    --ui-color-warning-500: #ffbb00;

    --ui-color-error-500: #ff4500;
    --ui-color-error-400: #ff5d35;

    --ui-color-danger-100: #460f10;
    --ui-color-danger-500: #f13436;
    --ui-color-danger-700: #e05c5e;

    --ui-color-backdrop: var(--ui-color-gray-100);
    --ui-color-warning-text: var(--ui-color-gray-100);

    --ui-shadow-header: 0px 1px 0px var(--ui-color-gray-200);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--ui-color-gray-800);
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Open Sans', Arial,
    Helvetica, sans-serif;
  font-size: 13px;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: var(--ui-color-white);
  max-height: 100dvh;
}

@media screen and (max-height: 600px) {
  html,
  body {
    overflow: hidden;
    max-height: 600px;
  }
}

@media screen and (max-height: 590px) {
  html,
  body {
    overflow-y: auto;
    max-height: none;
  }
}

button,
label,
input {
  font-family: inherit !important;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin: 0;
  align-self: center;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4L4 12M4 4L12 12' stroke='%2349556e' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

ui-button {
  text-transform: none;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgba(32, 44, 68, 0.08);
  --ui-button-color-hover: var(--ui-color-primary-700);
}

ui-button > * {
  border-radius: 8px;
}
