html {
  height: auto;
}

html,
body {
  background: var(--background-primary);
  overflow: hidden;
}

body {
  min-width: 375px;
  min-height: 48px;
  max-height: 100dvh;
}

body[platform-name='android'],
body[platform-name='ios'] {
  min-width: auto;
}

/* Prevents from scrolling not expanded popup window on iOS */
@media screen and (height <= 450px) {
  body[platform-name='ios'] panel-container::part(scrollable) {
    overflow-y: hidden;
  }
}

@media screen and (height <= 600px) {
  body {
    max-height: 600px;
  }
}

/* On iOS the popup window can be expanded to the full height of the screen */
@media screen and (height > 600px) {
  html,
  body {
    height: 100%;
  }
}
