html {
  height: auto;
}

html,
body {
  overflow: hidden;
}

body {
  min-width: 375px;
  min-height: 48px;
  max-height: 100dvh;
}

body[platform-name='android'],
body[platform-name='ios'] {
  min-width: auto;
}

@media screen and (max-height: 600px) {
  body {
    max-height: 600px;
  }
}

@media screen and (max-height: 450px) {
  body[platform-name='ios'] panel-container::part(scrollable) {
    overflow-y: hidden;
  }
}
