/**
 * Accordion Sass
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2018 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

.accordions {
	.accordion {
		position: relative;

		.accordionSelect {
			position: absolute;
			top: 18px;
			right: 19px;
			border: 1px solid #ccc;
			width: 20px;
			height: 20px;
			background-color: #eee;
			background-repeat: no-repeat;
			background-position: center;
			z-index: 1;

			&.blocked, &.trusted, &.restricted {
				border: none;

				&:before {
					content: " ";
					position: absolute;
					top: 1px;
					right: 1px;
					width: 18px;
					height: 18px;
					border: 1px solid $white;
				}
			}

			&.trusted {
				background-color: $button-trust;
				background-image: buildIconTrust($button-white);
			}

			&.restricted {
				background-color: $button-restrict;
				background-image: buildIconRestrict($button-white);
			}

			&.blocked {
				background-color: $button-block;
				background-image: buildIconBlock($button-white);
			}

			&.mixed {

				&:before {
					content: " ";
					position: absolute;
					top: 8px;
					right: 1px;
					height: 0;
					width: 16px;
					border: 1px solid #ccc;
				}
			}
		}

		.accordionTitle {
			position: relative;
			display: block;
			cursor: pointer;
			background-repeat: no-repeat;
			background-size: 35px;
			background-position: 12px 16px;
			padding: 15px 0 15px 59px;
			color: #4A4A4A;
			font-weight: 500;

			& > h2 {
				font-size: 18px;
			}

			& > p {
				text-transform: uppercase;

				& > span {

					&.blocked-trackers {
						margin-left: 5px;
						color: $button-block;
					}
				}
			}

			&:after {
				content: " ";
				position: absolute;
				right: 9px;
				bottom: 0;
				width: 40px;
				height: 40px;
				background-image: url(../../app/images/panel-android/down.svg);
				background-repeat: no-repeat;
				background-position: center;
				@include prefix('transition', 'background-image 300ms ease-in');
			}

			&.active {
				&:after {
					background-image: url(../../app/images/panel-android/up.svg);
				}
			}
		}

		.accordionContent {
			overflow: hidden;
			@include prefix('transition', 'height 300ms ease-in');
			height: var(--trackers-length, 0px);

			& > p {
				margin: 0 10px;
				height: 32px;
				line-height: 32px;
				font-weight: 500;
				border-bottom: 1px solid #E0E0E0;

				& > span {
					&:last-child {
						float: right;
						padding-right: 4px;
					}
				}
			}

			.trackers-list {
				list-style: none;

				.tracker {
					position: relative;
					margin-left: 4px;
					@include prefix('transition', 'margin 300ms ease-in');
					height: $tracker-height;

					.info {
						display: inline-block;
						width: 40px;
						height: 100%;
						float: left;
						background-image: url(../../app/images/panel-android/icon-information-blue.svg);
						background-repeat: no-repeat;
						background-position: center;
						background-size: 18px;
					}

					.trackerName {
						font-style: italic;

						& > span:first-child {
							line-height: $tracker-height;
							font-size: 14px;
						}
					}

					.trackerSelect {
						position: absolute;
						top: 15px;
						right: 19px;
						border: 1px solid #ccc;
						width: 20px;
						height: 20px;
						background-repeat: no-repeat;
						background-position: center;

						&:before {
							content: " ";
							position: absolute;
							top: 1px;
							right: 1px;
							width: 18px;
							height: 18px;
						}
					}

					.menu {
						position: absolute;
						top: 0;
						right: calc(-3 * #{$tracker-menu-item-width});
						width: calc(3 * #{$tracker-menu-item-width});
						@include prefix('transition', 'right 300ms ease-in');
						height: 100%;
						z-index: 1;
						overflow: hidden;

						.trackerOption {
							padding-top: 20px;
							height: 100%;
							width: $tracker-menu-item-width;
							color: $white;
							background-repeat: no-repeat;
							background-position: center 10px;
							font-size: 11px;

							&.trust {
								background-color: $button-trust;
								background-image: buildIconTrust($button-white);
							}

							&.restrict {
								background-color: $button-restrict;
								background-image: buildIconRestrict($button-white);
							}

							&.block {
								background-color: $button-block;
								background-image: buildIconBlock($button-white);

								&.disabled {
									background-color: #C6C6C6;
									pointer-events: none;
								}
							}
						}

						&.global-trackers {
							right: -$tracker-menu-item-width;
							width: $tracker-menu-item-width;

							.trackerOption {

								&.trust {
									display: none;
								}

								&.restrict {
									display: none;
								}
							}
						}
					}

					&.show-menu {
						margin-left: -10px;

						.menu {
							right: 0;
						}
					}

					&.blocked, &.trusted, &.restricted {
						.trackerSelect:before {
							border: 1px solid $white;
						}
					}

					&.blocked {

						.trackerName {
							text-decoration: line-through;
							color: #C7C7CD;
						}

						.trackerSelect {
							border: none;
							background-image: buildIconBlock($button-white);
							background-color: $button-block;
						}
					}

					&.trusted {

						.trackerSelect {
							border: none;
							background-image: buildIconTrust($button-white);
							background-color: $button-trust;
						}
					}

					&.restricted {

						.trackerSelect {
							border: none;
							background-image: buildIconRestrict($button-white);
							background-color: $button-restrict;
						}
					}
				}

				& > li:not(:last-child) .tracker {
					border-bottom: 1px solid #eee;
				}
			}
		}

		&:not(:last-child) {
			border-bottom: 1px solid #E0E0E0;
		}
	}
}
