@media screen and (orientation: landscape) {
	.tabs-wrapper {
		width: 50%;
		float: right;

		ul.tabs-nav li.tab-item a.tab-link.custom-link {
			font-size: 1.5vw;
		}

		.buttons-wrapper {
			padding-top: 10px;
		}
	}

	.fixed-menu {
		width: 50%;

		.menuItemOverview {
			pointer-events: none;

			.title {
				background: none;
			}

			.description {
				display: block;
				margin-right: -45px;
				padding-left: 20px;
				color: #4A4A4A;
			}
		}

		&.opened {
			top: $tab-header-height;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}

	& > div > .chart-wrapper {
		display: block;
		border-right: 1px solid #eee;
		padding-top: 0;

		.trackers-chart {
			margin: 5px 0;
		}
	}
}
