.tabs-wrapper {
	ul.tabs-nav {
		margin: 0px;
		padding: 0px;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		background-color: $cliqz-blue;
		@include prefix('box-shadow', '3px 2px 10px rgba(0,0,0,0.15)');

			li.tab-item {
			display: inline-block;
			flex-grow: 1;

				a.tab-link.custom-link {
					display: block;
					padding: 0 10px;
					text-align: left;
					cursor: pointer;
					text-transform: uppercase;
					color: #fff;
					font-size: 12px;
					font-weight: 500;
					opacity: 0.8;
					height: $tab-header-height;
					line-height: $tab-header-height;

					&.active {
						border-bottom: 2px solid #fff;
						opacity: 1;
					}
				}
		}
	}

	.tabs-active-content {

	}
}
