/**
 * Sass Variables
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0
 */

$cliqz-blue: #00AEF0;
$tracker-menu-item-width: 60px;
$tracker-height: 50px;
$fixed-menu-item-height: 50px;
$fixed-menu-header-height: 50px;
$tab-header-height: 50px;

$white: #FFFFFF;
$tundora: #4A4A4A;

$button-white: ffffff;
$button-blue: 1DAFED;
$button-dark-grey: 4A4A4A;

/* Control buttons */
$button-trust: #9FCA4C;
$button-restrict: #BC4A4B;
$button-block: #E44258;
