<!doctype html>
<!--
 * Blocked Redirect
 *
 * Handles Click2Play Redirects
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>Ghostery Click2Play</title>
		<style>
			#content img {
				vertical-align: middle;
			}
			p {
				margin: 2px;
				font-family: 'Open Sans Bold';
				font-size: 12px;
			}
			.ellipsis {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 50%;
				margin: auto;
			}
			#origin {
				font-style: italic;
			}
			#destination {
				font-style: italic;
			}
		</style>
		<script src="../../dist/blocked_redirect.js" type="text/javascript">
		</script>
	</head>
	<body style="margin:0px;padding:0px;">
		<div id="content" style="text-align:center;display: none;">
			<div id="redirect-prevent"></div>
			<br>
			<div id="redirect-url" style="display: none;"></div>
			<img id="ghosty_blocked" src="">
			<a href="#" id="action-through-once"><img id="allow_once" src="" /></a>
			<a href="#" id="action-always"><img id="allow_unblock" src="" /></a>
		</div>
	</body>
</html>
