<!doctype html>
<!--
 * Ghostery Licenses page
 *
 * Ghostery Browser Extension
 * https://www.ghostery.com/
 *
 * Copyright 2019 Ghostery, Inc. All rights reserved.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<link href="../../dist/css/foundation.css" media="screen" rel="stylesheet" type="text/css">
<link href="../../dist/css/licenses.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="root"></div>
	<script src="../../dist/licenses_react.js"></script>
</body>
</html>
