name: Test libs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-ui:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: libs
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: ./libs/package-lock.json
      - run: npm ci
      - run: npm run lint
